:root {
  --font-family-Helvetica: "Helvetica";
  --font-family-HelveticaNeue: "HelveticaNeue";
  --font-family-Roboto: "Roboto";
  --main-black: #1c1d1b;
  --light: #ffffff;
  --main-green: #d5bb5e;
  --gray: #8c8c8c;
  --bg-gray: #f7f7f7;
  --orange: #f7cf50;
  --main-green-dark: #728161;
  --border-color: #efe3e3;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/../fonts/HelveticaLight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/../fonts/HelveticaRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/../fonts/HelveticaBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/../fonts/HelveticaNeueCyrBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Robotothin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoLight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  font-family: var(--font-family-Roboto, sans-serif);
  -webkit-text-size-adjust: 100%;
  color: var(--main-black);
  font-weight: 400;
}

.page__body {
  position: inherit !important;
  background-color: var(--bg-gray);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -0.052vw;
  border: 0;
  padding: 0;
  width: 0.052vw;
  height: 0.052vw;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 67.368vw;
  margin: 0 auto;
  padding: 0 0.789vw;
}

@media (max-width: 1200px) {
  .container {
    max-width: 166.667vw;
    margin: 0 auto;
    padding: 0 1.953vw;
  }
}
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border-radius: 1.533vw;
}

.choices__inner {
  min-height: auto;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 0.829vw;
  line-height: 0.938vw;
  width: 100%;
  width: 4.421vw;
}

.choices__item--selectable {
  color: var(--light);
  padding: 0.5vw 0.9vw;
}

.choices__item {
  white-space: no-wrap;
  font-weight: 500;
}

.is-open .choices__inner {
  background-color: var(--light);
  border-radius: 1.833vw;
}

.is-open .choices__item {
  color: var(--main-green);
}

.is-open .choices__list--dropdown {
  background-color: var(--light);
  border-radius: 0.521vw;
  border: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after {
  display: none;
}

.is-selected {
  display: none;
}

.choices__list--single {
  padding: 0;
  width: 100%;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices[data-type*=select-one]::after {
  border-color: var(--main-green) transparent transparent;
  height: 0px;
  width: 0px;
  border-width: 3.997px;
  right: 20.368px;
  top: 50%;
  margin-top: -1.536px;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  overflow: hidden;
}

.choices[data-type*=select-one].is-open:after {
  border-color: var(--gray) transparent transparent;
  margin-top: -0.391vw;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (min-width: 33.333vw) {
  .choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
  }
}
.choices__list--dropdown,
.choices__list[aria-expanded] {
  border: none;
  margin-top: -1px;
  border-radius: 0.608vw;
  right: 0;
  margin-top: 0.521vw;
}

@media (max-width: 1200px) {
  .choices {
    background-color: var(--main-green-dark);
    width: 7.937vw;
    height: 3.516vw;
  }
  .choices__inner {
    font-size: 2.114vw;
  }
  .choices__item--selectable {
    color: var(--light);
    padding: 0.333vw 0.733vw;
  }
  .is-open .choices__inner {
    background-color: var(--main-green-dark);
    border-radius: 1.833vw;
  }
  .is-open .choices__item {
    color: var(--light);
  }
  .choices__list--single {
    padding: 0;
    width: 100%;
  }
  .choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    padding: 0.651vw 1.693vw;
    font-size: 2.114vw;
    color: var(--main-green);
  }
  .choices[data-type*=select-one].is-open:after {
    margin-top: -1vw;
  }
  .choices[data-type*=select-one]::after {
    right: 1.667vw;
    top: 50%;
  }
}
@media (max-width: 375px) {
  .choices {
    width: 16vw;
    height: 6.933vw;
    border-radius: 4.267vw;
  }
  .choices__inner {
    font-size: 4.267vw;
    line-height: 5.067vw;
    width: 100%;
  }
  .choices__item--selectable {
    padding-left: 2.667vw;
  }
  .choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    font-size: 4.267vw;
  }
  .choices[data-type*=select-one]::after {
    right: 2.667vw;
  }
  .choices[data-type*=select-one].is-open:after {
    margin-top: -2vw;
  }
}
.btn {
  font-size: 0.833vw;
  font-weight: 500;
  line-height: 0.885vw;
  padding: 1.042vw 3.604vw;
  border-radius: 3.125vw;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  outline: none;
}

.btn-primary {
  background-color: var(--orange);
}
@media (min-width: 1025px) {
  .btn-primary:hover {
    background-color: #feecb4;
  }
}

.btn-secondary {
  background-color: transparent;
  border: 0.052vw solid var(--light);
  color: var(--light);
}
@media (min-width: 1025px) {
  .btn-secondary:hover {
    background-color: var(--light);
    color: var(--main-black);
  }
}

@media (max-width: 1200px) {
  .btn {
    font-size: 2.083vw;
    line-height: 2.344vw;
    padding: 2.604vw 13.021vw;
  }
}
.titles {
  font-family: var(--font-family-Helvetica);
}
.titles .subtitle {
  font-weight: 400;
  font-size: 1.146vw;
  line-height: 1.406vw;
  color: var(--gray);
  margin-bottom: 0.521vw;
}
.titles .title {
  font-size: 2.708vw;
  font-weight: 700;
  line-height: 1.1;
  color: var(--main-black);
}

@media (max-width: 1200px) {
  .titles {
    font-family: var(--font-family-Helvetica);
  }
  .titles .subtitle {
    font-weight: 400;
    font-size: 2.344vw;
    line-height: 2.734vw;
    color: var(--gray);
    margin-bottom: 1.302vw;
  }
  .titles .title {
    font-size: 4.948vw;
    font-weight: 700;
    line-height: 5.69vw;
    color: var(--main-black);
  }
}
.graph-modal {
  -webkit-backdrop-filter: blur(0.221vw);
  backdrop-filter: blur(0.221vw);
}
.graph-modal__container {
  width: auto;
  border-radius: 1.042vw;
  padding: 0;
}
.graph-modal__close {
  background: url("../img/close.svg");
  background-size: cover;
  top: 1.042vw;
  right: 1.042vw;
  z-index: 10;
  outline: none;
}
.graph-modal .titles {
  margin-bottom: 1.042vw;
}
.graph-modal .title {
  font-size: 2.308vw;
}

.mob-menu {
  display: none;
}

@media (max-width: 1200px) {
  .mob-menu {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    -webkit-backdrop-filter: blur(0.37vw);
    backdrop-filter: blur(0.37vw);
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .mob-menu__close {
    padding: 0;
  }
  .mob-menu__close svg {
    width: 2.839vw;
    height: 2.839vw;
  }
  .mob-menu__burger {
    color: var(--main-black) !important;
    pointer-events: none;
  }
  .mob-menu__nav {
    width: 64.453vw;
    height: 100vh;
    background-color: var(--light);
    overflow: auto;
  }
  .mob-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 7vw 2vw;
    position: relative;
  }
  .mob-menu__list::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: calc(100% - 2.1vw);
    border-bottom: 2.004px solid var(--border-color);
  }
  .mob-menu__item {
    color: var(--main-black);
  }
  .mob-menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3.255vw;
  }
  .mob-menu__logo {
    display: block;
    margin: 0 auto;
    width: 10.958vw;
    height: 3.906vw;
  }
  .mob-menu__logo img {
    height: 100%;
    width: 100%;
  }
  .mob-menu__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 2.995vw 1.953vw;
    border-bottom: 2.004px solid var(--border-color);
  }
  .mob-menu__item-lang, .mob-menu__item-form {
    display: block;
  }
  .mob-menu__item-lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mob-menu__item-lang .mob-menu__link {
    padding-right: 2.5vw;
  }
  .mob-menu__link {
    color: inherit;
    font-family: var(--font-family-Helvetica);
    font-weight: 700;
    font-size: 3.906vw;
    line-height: 1.4;
  }
  .mob-menu .feedback__form {
    width: 100%;
    padding: 3vw 2vw;
  }
  .mob-menu .feedback__form .titles {
    margin-bottom: 1.667vw;
  }
  .mob-menu .feedback__form .form__text {
    font-weight: 300;
    font-size: 1.823vw;
    line-height: 1.4;
  }
  .mob-menu .feedback__form .form__label::before {
    width: 2.604vw;
    height: 2.604vw;
  }
  .mob-menu .feedback__form .form__input {
    font-size: 1.823vw;
    padding-left: 4.304vw;
    margin-bottom: 3.002vw;
  }
  .mob-menu .feedback__form .form__notice {
    margin: 0;
    margin-bottom: 2.051vw;
    font-size: 1.563vw;
    line-height: 1.6;
  }
  .mob-menu .feedback__form .form__btn {
    padding: 0;
    padding: 1.953vw 10.193vw;
    font-size: 2.083vw;
    line-height: 1.1;
  }
}
.menu--active {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

@media (max-width: 375px) {
  .mob-menu__top {
    padding: 2.995vw 1.953vw;
  }
  .mob-menu__logo {
    width: 22.4vw;
    height: 8vw;
  }
  .mob-menu__close svg {
    width: 5.6vw;
    height: 5.6vw;
  }
  .mob-menu__nav {
    width: 100%;
  }
  .mob-menu__list {
    padding: 10.845vw 2.667vw;
  }
  .mob-menu__list::after {
    width: 100%;
  }
  .mob-menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6.667vw;
  }
  .mob-menu__item-btn-close {
    padding: 0;
  }
  .mob-menu__item-btn-close svg {
    width: 2.839vw;
    height: 2.839vw;
  }
  .mob-menu__item-lang .mob-menu__link {
    padding-right: 4.8vw;
  }
  .mob-menu__link {
    font-size: 6.4vw;
    line-height: 6.133vw;
  }
  .mob-menu .feedback__form {
    width: 100%;
    padding: 5.333vw 4vw;
  }
  .mob-menu .feedback__form .titles {
    margin-bottom: 4.267vw;
  }
  .mob-menu .feedback__form .titles .title {
    font-size: 8vw;
    line-height: 10.667vw;
  }
  .mob-menu .feedback__form .form__text {
    font-size: 3.733vw;
    line-height: 5.333vw;
    margin-bottom: 8.533vw;
  }
  .mob-menu .feedback__form .form__label::before {
    top: -1vw;
    width: 5.667vw;
    height: 5.667vw;
  }
  .mob-menu .feedback__form .form__input {
    font-size: 3.733vw;
    padding-left: 10.037vw;
    padding-bottom: 3vw;
    margin-bottom: 6.133vw;
  }
  .mob-menu .feedback__form .form__notice {
    margin-bottom: 4vw;
    font-size: 3.2vw;
    line-height: 6.8vw;
  }
  .mob-menu .feedback__form .form__btn {
    padding: 4.086vw 13.393vw;
    font-size: 4.267vw;
    line-height: 4.8vw;
    border-radius: 17.067vw;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 0vw 5.208vw;
  background-color: var(--main-green-dark);
  width: 100%;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.721vw 0;
}
.header__logo {
  width: 6.146vw;
  height: 2.188vw;
  margin: 0 auto;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 5.083vw;
}
.header__cart {
  margin-right: 0.763vw;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__item {
  color: var(--light);
}
.nav__item:not(:last-child) {
  margin-right: 2.388vw;
}
.nav__link {
  color: inherit;
  font-size: 0.833vw;
  font-weight: 500;
}
.nav__top {
  display: none;
}
.nav__item-lang, .nav__item-form {
  display: none;
}

.call__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--light);
  margin-bottom: 0.156vw;
}
.call__phone svg {
  display: none;
  width: 1.667vw;
  height: 1.667vw;
  fill: var(--light);
}
.call__phone span {
  font-size: 1.25vw;
  line-height: 1.458vw;
  font-weight: 700;
}
.call__text {
  color: #ededed;
  margin: 0;
  font-weight: 400;
  font-size: 0.729vw;
  line-height: 0.833vw;
}

.burger {
  --burger-width: 5.208vw;
  --burger-height: 3.133vw;
  --burger-line-height: 0.56vw;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  display: none;
  color: var(--light);
  width: 35px;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger__line {
  border-radius: 0.333vw;
}
.burger::after {
  border-radius: 0.333vw;
}
.burger::before {
  border-radius: 0.333vw;
}

@media (max-width: 1200px) {
  .burger {
    display: block;
  }
  .header {
    padding: 1vw 0;
  }
  .header__logo {
    width: 15.365vw;
    height: 5.469vw;
  }
  .header__logo img {
    width: 100%;
    height: 100%;
  }
  .header__inner {
    padding: 0vw 2.5vw;
  }
  .header__call {
    margin-right: 0;
  }
  .header__left {
    display: none;
  }
  .call__phone svg {
    display: block;
    width: 3.385vw;
    height: 3.255vw;
  }
  .call__phone span {
    display: none;
  }
  .call__text {
    display: none;
  }
}
@media (max-width: 375px) {
  .header {
    padding: 2.333vw 0vw;
  }
  .header__logo {
    width: 22.4vw;
    height: 8vw;
  }
  .call__phone svg {
    width: 6.133vw;
    height: 6.133vw;
  }
  .burger {
    --burger-width: 5.208vw;
    --burger-height: 3.133vw;
    --burger-line-height: 0.56vw;
    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #000;
    background-color: transparent;
    cursor: pointer;
    color: var(--light);
    width: 8.333vw;
    height: 5.5vw;
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    top: calc(100% - var(--burger-line-height));
  }
  .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
}
.action {
  position: absolute;
  top: 3.93vw;
  left: 0;
  width: 100%;
  background-color: var(--orange);
  border: 0.052vw solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.521vw 0vw;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}
.action__title {
  font-size: 0.625vw;
  font-weight: 400;
  line-height: 0.729vw;
  color: var(--main-black);
  position: relative;
  padding: 0vw 1.042vw;
}
.action__title::after {
  content: "";
  position: absolute;
  top: 0.104vw;
  left: 0;
  width: 0.521vw;
  height: 0.521vw;
  border: 0.104vw solid var(--main-black);
  border-right: none;
  border-top: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.action__title::before {
  content: "";
  position: absolute;
  top: 0.104vw;
  right: 0;
  width: 0.521vw;
  height: 0.521vw;
  border: 0.104vw solid var(--main-black);
  border-left: none;
  border-bottom: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (min-width: 1025px) {
  .action:hover {
    background-color: var(--light);
    border-top: 0.052vw solid #1c1d1b;
  }
}

@media (max-width: 1200px) {
  .action {
    top: 7.457vw;
    padding: 1.233vw 0vw;
  }
  .action__title {
    font-size: 1.589vw;
    padding: 0vw 2.906vw;
  }
  .action__title::after, .action__title::before {
    top: 0;
    width: 1.04vw;
    height: 1.04vw;
  }
}
@media (max-width: 375px) {
  .action {
    display: none;
  }
}
.hero {
  margin-bottom: 9.013vw;
  padding-top: 3.646vw;
}
.hero__slide {
  height: auto;
}
.hero__slide-image img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hero__content {
  position: relative;
  top: 0;
  left: 15.7vw;
  height: 100%;
  padding: 0 2.083vw 3.646vw;
  background-color: var(--main-black);
  color: var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 29vw;
}
.hero__title {
  font-weight: 500;
  font-size: 3.594vw;
  line-height: 4.115vw;
  margin-bottom: 1.573vw;
}
.hero__text {
  font-size: 1.166vw;
  font-weight: 300;
  line-height: 1.815vw;
  margin-bottom: 4.867vw;
}
.hero__btn-primary {
  margin-right: 2vw;
}
.hero__btn-next {
  margin-top: 0;
  height: 100%;
  -webkit-transform: translateX(2vw);
  -ms-transform: translateX(2vw);
  transform: translateX(2vw);
  top: 0;
  right: 7.292vw;
  color: var(--main-green-dark);
}
.hero__btn-next::after {
  font-size: 3.125vw;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.hero__btn-next::before {
  content: "";
  position: absolute;
  right: -10vw;
  width: 20.45vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}
@media (min-width: 1025px) {
  .hero__btn-next:hover::after {
    -webkit-transform: translateX(-1vw);
    -ms-transform: translateX(-1vw);
    transform: translateX(-1vw);
    color: var(--light);
  }
  .hero__btn-next:hover::before {
    opacity: 1;
  }
}
.hero__btn-prev {
  margin-top: 0;
  height: 100%;
  -webkit-transform: translateX(-2vw);
  -ms-transform: translateX(-2vw);
  transform: translateX(-2vw);
  top: 0;
  left: 7.292vw;
  color: var(--main-green-dark);
}
.hero__btn-prev::after {
  font-size: 3.125vw;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.hero__btn-prev::before {
  content: "";
  position: absolute;
  left: -10vw;
  width: 20.45vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
@media (min-width: 1025px) {
  .hero__btn-prev:hover::after {
    -webkit-transform: translateX(1vw);
    -ms-transform: translateX(1vw);
    transform: translateX(1vw);
    color: var(--light);
  }
  .hero__btn-prev:hover::before {
    opacity: 1;
  }
}
.hero .swiper-pagination {
  text-align: initial;
  position: static;
  margin-top: 3.342vw;
  margin-bottom: 5.163vw;
}
.hero .swiper-pagination-fraction {
  color: rgba(97, 93, 93, 0.493);
  font-size: 3.604vw;
}
.hero .swiper-pagination-current,
.hero .current {
  font-size: 8.333vw;
  color: grey;
}
.hero .swiper-pagination-total,
.hero .total {
  font-size: 3.01vw;
  color: rgba(97, 93, 93, 0.493);
  font-weight: 200;
}

@media (max-width: 1200px) {
  .hero {
    margin-bottom: 13.021vw;
  }
  .hero__content {
    left: 13vw;
    padding: 3.906vw 2.604vw 13.021vw;
    max-width: 56.313vw;
  }
  .hero__title {
    font-size: 6.511vw;
    line-height: 7.552vw;
    margin-bottom: 3.906vw;
  }
  .hero__text {
    font-size: 2.083vw;
    line-height: 3.125vw;
    margin-bottom: 13.672vw;
  }
  .hero__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero__btns .btn {
    font-size: 2.083vw;
    line-height: 2.344vw;
    padding: 2.604vw 13.021vw;
  }
  .hero__btns .btn-primary {
    margin-right: 0;
    margin-bottom: 3.906vw;
  }
  .hero__btn-next {
    right: 7vw;
  }
  .hero__btn-next::after {
    font-size: 8.883vw;
  }
  .hero__btn-next::before {
    display: none;
  }
}
@media (max-width: 1200px) and (min-width: 1025px) {
  .hero__btn-next:hover::after {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    color: var(--light);
  }
  .hero__btn-next:hover::before {
    display: none;
  }
}
@media (max-width: 1200px) {
  .hero__btn-prev {
    left: 7vw;
  }
  .hero__btn-prev::after {
    font-size: 8.883vw;
  }
  .hero__btn-prev::before {
    display: none;
  }
}
@media (max-width: 1200px) and (min-width: 1025px) {
  .hero__btn-prev:hover::after {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    color: var(--light);
  }
  .hero__btn-prev:hover::before {
    display: none;
  }
}
@media (max-width: 1200px) {
  .hero .swiper-pagination {
    margin-top: 49.989px;
    margin-bottom: 64.573px;
  }
}
@media (max-width: 1200px) {
  .hero .swiper-pagination-fraction {
    font-size: 3.771vw;
  }
}
@media (max-width: 1200px) {
  .hero .swiper-pagination-current,
.hero .current {
    font-size: 18.229vw;
    line-height: 1.3;
  }
}
@media (max-width: 1200px) {
  .hero .swiper-pagination-total,
.hero .total {
    font-size: 5.859vw;
  }
}
@media (max-width: 375px) {
  .hero {
    margin-bottom: 18.667vw;
    padding-top: 0;
  }
  .hero__slide-image img {
    display: block;
    position: static;
    height: 73.6vw;
  }
  .hero__content {
    position: static;
    padding: 9.333vw 4vw;
    max-width: 100%;
  }
  .hero__title {
    font-size: 10.133vw;
    line-height: 10.667vw;
    margin-bottom: 5.333vw;
  }
  .hero__text {
    font-size: 3.733vw;
    line-height: 5.333vw;
    margin-bottom: 8vw;
  }
  .hero__btns .btn {
    font-size: 4.265vw;
    line-height: 4.531vw;
    padding: 5.335vw 18.453vw;
    border-radius: 17.067vw;
  }
  .hero__btn-next {
    height: 10vw;
    top: 18%;
    right: 2.667vw;
  }
  .hero__btn-next::after {
    font-size: 5.525vw;
  }
  .hero__btn-prev {
    height: 10vw;
    top: 18%;
    left: 2.667vw;
  }
  .hero__btn-prev::after {
    font-size: 5.333vw;
  }
  .hero .swiper-pagination {
    margin-top: 0;
    margin-bottom: 0;
  }
  .hero .swiper-pagination-fraction {
    font-size: 10.067vw;
    line-height: 20vw;
  }
  .hero .swiper-pagination-current,
.hero .current {
    font-size: 17.067vw;
    line-height: 20vw;
    color: grey;
  }
  .hero .swiper-pagination-total,
.hero .total {
    font-size: 5.333vw;
    line-height: 6.4vw;
  }
}
.about {
  margin-bottom: 5.22vw;
}
.about__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about__column {
  max-width: 50%;
}
.about__column-right {
  padding-left: 1.042vw;
}
.about__text {
  font-size: 1.086vw;
  line-height: 1.771vw;
  color: var(--gray);
  margin-top: 1.242vw;
  margin-bottom: 2.083vw;
}
.about__slide {
  margin-bottom: 2.604vw;
  border-radius: 1.042vw;
  overflow: hidden;
  height: 32.813vw;
  width: 32.552vw;
}
.about__slide img {
  height: 100%;
  width: 100%;
}
.about .swiper-pagination {
  text-align: initial;
  position: static;
}
.about .swiper-pagination-fraction {
  color: rgba(97, 93, 93, 0.493);
  font-size: 1.573vw;
}
.about .swiper-pagination-current,
.about .current {
  color: var(--main-black);
  font-size: 5.646vw;
}
.about .swiper-pagination-total,
.about .total {
  font-size: 3.083vw;
  font-weight: 300;
}
.about .swiper__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.about .swiper__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.681vw;
}
.about .swiper-button-next,
.about .swiper-button-prev {
  position: static;
  width: 4.167vw;
  height: 4.167vw;
  border: 0.052vw solid var(--main-black);
  border-radius: 50%;
  color: var(--main-black);
  -webkit-transform: translateY(0.365vw);
  -ms-transform: translateY(0.365vw);
  transform: translateY(0.365vw);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 1025px) {
  .about .swiper-button-next:hover,
.about .swiper-button-prev:hover {
    background-color: var(--main-green-dark);
    color: var(--light);
    border: none;
  }
}
.about .swiper-button-next::after,
.about .swiper-button-prev::after {
  font-size: 1.563vw;
}
.about .swiper-button-prev {
  margin-right: 1.563vw;
}

.benefits__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.142vw;
}
.benefits__item {
  max-width: 100%;
  width: 11.417vw;
  padding-bottom: 0.565vw;
  position: relative;
}
.benefits__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.052vw;
  border-radius: 0.104vw;
  background-color: var(--gray);
  opacity: 0.3;
}
.benefits__num {
  font-size: 6.102vw;
  font-weight: 100;
}
.benefits__title {
  font-size: 0.938vw;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .about {
    margin-bottom: 13.021vw;
  }
  .about__column-right {
    padding-left: 0;
  }
  .about__text {
    font-size: 2.083vw;
    line-height: 3.125vw;
    margin-bottom: 9.766vw;
  }
  .about__swiper {
    -webkit-transform: translateX(3.021vw);
    -ms-transform: translateX(3.021vw);
    transform: translateX(3.021vw);
  }
  .about__slide {
    margin-bottom: 19.999px;
    width: 53.776vw;
    height: 70.172vw;
  }
  .about__slide img {
    width: 100%;
    height: 100%;
  }
  .about .swiper-pagination-fraction {
    font-size: 1.573vw;
  }
  .about .swiper-pagination-current,
.about .current {
    font-size: 10.547vw;
  }
  .about .swiper-pagination-total,
.about .total {
    font-size: 4.385vw;
    font-weight: 300;
  }
  .about .swiper__btns {
    padding-bottom: 1.681vw;
    -webkit-transform: translateX(-4vw);
    -ms-transform: translateX(-4vw);
    transform: translateX(-4vw);
  }
  .about .swiper-button-next,
.about .swiper-button-prev {
    width: 8.334vw;
    height: 8.334vw;
    -webkit-transform: translateY(-0.665vw);
    -ms-transform: translateY(-0.665vw);
    transform: translateY(-0.665vw);
  }
  .about .swiper-button-next::after,
.about .swiper-button-prev::after {
    font-size: 3.563vw;
  }
  .about .swiper-button-prev {
    margin-right: 1.555vw;
  }
  .benefits__items {
    row-gap: 9.115vw;
    -webkit-column-gap: 3vw;
    -moz-column-gap: 3vw;
    column-gap: 3vw;
  }
  .benefits__item {
    width: 100%;
    padding-bottom: 0.565vw;
  }
  .benefits__num {
    font-size: 11.719vw;
    line-height: 13.672vw;
  }
  .benefits__title {
    font-size: 1.823vw;
    line-height: 3.906vw;
  }
}
.info {
  margin-bottom: 6.25vw;
}
.info .titles {
  margin-bottom: 3.125vw;
}
.info__wrapper {
  margin-bottom: 3.646vw;
}
.info__slide {
  overflow: hidden;
  height: auto;
  border-radius: 1.042vw;
  color: var(--light);
}
.info__slide img {
  height: 12.5vw;
  width: 100%;
}
.info__slide:nth-child(even) {
  background-color: var(--main-black);
}
.info__slide:nth-child(odd) {
  background-color: var(--main-green-dark);
}
.info__text {
  padding: 1.771vw 1.302vw 3.802vw;
}
.info__num {
  position: absolute;
  top: 0.26vw;
  left: 1.094vw;
  font-family: var(----font-family-Helvetica);
  font-weight: 700;
  font-size: 3.646vw;
  line-height: 4.167vw;
}
.info__title {
  font-family: var(--font-family-HelveticaNeue);
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 1.198vw;
  margin-bottom: 0.573vw;
}
.info__descr {
  font-weight: 300;
  font-size: 0.833vw;
  line-height: 1.028vw;
}
.info .swiper {
  overflow: visible;
}
.info .swiper-slide {
  min-height: 25.042vw;
}
.info .swiper__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.info .swiper-button-next,
.info .swiper-button-prev {
  position: static;
  width: 4.167vw;
  height: 4.167vw;
  border: 0.052vw solid var(--main-black);
  border-radius: 50%;
  color: var(--main-black);
  -webkit-transform: translateY(0.365vw);
  -ms-transform: translateY(0.365vw);
  transform: translateY(0.365vw);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 1025px) {
  .info .swiper-button-next:hover,
.info .swiper-button-prev:hover {
    background-color: var(--main-green-dark);
    color: var(--light);
    border: none;
  }
}
.info .swiper-button-next::after,
.info .swiper-button-prev::after {
  font-size: 1.563vw;
}
.info .swiper-button-prev {
  margin-right: 1.563vw;
}

@media (max-width: 1200px) {
  .info {
    margin-bottom: 13.021vw;
  }
  .info .titles {
    margin-bottom: 7.813vw;
  }
  .info__wrapper {
    margin-bottom: 3.906vw;
  }
  .info__slide {
    min-height: 69.661vw;
  }
  .info__slide img {
    width: 100%;
  }
  .info__text {
    padding: 4.427vw 4.557vw 9.375vw;
  }
  .info__num {
    font-size: 9.115vw;
    line-height: 10.417vw;
  }
  .info__title {
    font-size: 3.125vw;
    line-height: 2.995vw;
    margin-bottom: 1.432vw;
  }
  .info__descr {
    font-size: 2.083vw;
    line-height: 3.255vw;
  }
  .info .swiper-slide {
    min-height: 69.704vw;
  }
  .info .swiper-button-next,
.info .swiper-button-prev {
    width: 8.334vw;
    height: 8.334vw;
  }
  .info .swiper-button-next::after,
.info .swiper-button-prev::after {
    font-size: 3.563vw;
  }
  .info .swiper-button-prev {
    margin-right: 1.563vw;
  }
}
.discount {
  background: url("../img/discount.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding: 4.966vw 0vw;
}
.discount .titles {
  margin-bottom: 1.563vw;
}
.discount__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(-0.365vw);
  -ms-transform: translateY(-0.365vw);
  transform: translateY(-0.365vw);
}
.discount__img {
  margin-right: 3.771vw;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  width: 582px;
  height: 460px;
  border-radius: 1.042vw;
  overflow: hidden;
}
.discount__img img {
  width: 100%;
  height: 100%;
}
.discount__content {
  color: var(--light);
}
.discount__subtitle {
  font-weight: 400;
  font-size: 1.146vw;
  line-height: 1.623vw;
  color: var(--main-green-dark);
  margin-bottom: 0.781vw;
}
.discount__title {
  font-family: var(--font-family-Helvetica);
  font-weight: 700;
  font-size: 3.594vw;
  line-height: 4.115vw;
  margin-bottom: 0.794vw;
}
.discount__descr {
  font-weight: 300;
  font-size: 1.15vw;
  line-height: 1.775vw;
  margin-bottom: 2.708vw;
  color: var(--gray);
}
.discount__btn {
  padding: 1.042vw 3.904vw;
}

@media (max-width: 1200px) {
  .discount {
    padding: 10.938vw 3.906vw;
  }
  .discount .container {
    padding: 0;
  }
  .discount .titles {
    margin-bottom: 1.563vw;
  }
  .discount__inner {
    -webkit-transform: translateY(-0.365vw);
    -ms-transform: translateY(-0.365vw);
    transform: translateY(-0.365vw);
  }
  .discount__img {
    margin-right: 2.865vw;
    width: 75.651vw;
    height: 84.635vw;
    margin-right: 0;
    -webkit-transform: translateX(-6.021vw);
    -ms-transform: translateX(-6.021vw);
    transform: translateX(-6.021vw);
  }
  .discount__img img {
    width: 100%;
    height: 100%;
  }
  .discount__subtitle {
    font-size: 2.865vw;
    line-height: 3.906vw;
    margin-bottom: 4.557vw;
  }
  .discount__title {
    font-size: 6.51vw;
    line-height: 7.552vw;
    margin-bottom: 4.167vw;
  }
  .discount__descr {
    font-weight: 300;
    font-size: 2.083vw;
    line-height: 3.125vw;
    margin-bottom: 7.552vw;
  }
  .discount__btn {
    width: 100%;
    padding: 2.906vw 13.021vw;
  }
}
.new-products {
  padding: 7.113vw 0vw;
  /* Hover */
}
.new-products__tabs {
  margin-bottom: 1.604vw;
}
.new-products__btn {
  text-align: center;
}
.new-products__link {
  border: 0.052vw solid var(--main-black);
  color: var(--main-black);
  background-color: var(--light);
}
.new-products__link:hover {
  background-color: var(--main-black);
  color: var(--light);
}
.new-products .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.new-products .form__radio:not(:last-child) {
  margin-right: 0.26vw;
}
.new-products .form__input[type=radio] {
  display: none;
}
.new-products .form__label {
  display: inline-block;
  position: relative;
  padding-left: 1.302vw;
  margin-right: 0;
  line-height: 0.938vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 50%;
}
.new-products .form__radio-first:before,
.new-products .form__radio-second:before,
.new-products .form__radio-third:before {
  content: "";
  width: 0.781vw;
  height: 0.781vw;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50%;
}
.new-products .form__radio-first:before {
  background-color: #bca685;
}
.new-products .form__radio-second:before {
  background-color: var(--main-black);
}
.new-products .form__radio-third:before {
  background-color: var(--gray);
}
.new-products .form__label:hover:before {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}
.new-products .tabs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 2.604vw;
}
.new-products .tabs__nav {
  margin-bottom: 0.26vw;
}
.new-products .tabs__nav-item:not(:last-child) {
  margin-right: 1.063vw;
}
.new-products .tabs__nav-btn {
  padding: 0.521vw 1.683vw;
  color: var(--main-black);
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.1;
  border: 0.052vw solid transparent;
}
.new-products .tabs__nav-btn span {
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.1em;
  color: rgb(176, 171, 171);
  margin-left: 0.26vw;
}
.new-products .tabs__nav-btn--doors {
  background-color: var(--main-green-dark);
  color: var(--light);
}
.new-products .tabs__nav-btn--parquet {
  background-color: var(--light);
  color: var(--main-black);
  border: 0.052vw solid var(--main-black);
}
.new-products .tabs__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1.242vw;
  grid-row-gap: 1.242vw;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.798vw 1.563vw;
  background-color: var(--light);
  border-radius: 1vw;
  color: var(--main-black);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product:hover {
  background: rgba(129, 107, 107, 0.3);
}
.product__term {
  font-size: 0.938vw;
  color: var(--gray);
  line-height: 1.2;
  margin-bottom: 1.302vw;
}
.product__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 0.598vw;
}
.product__img img {
  height: 18.021vw;
  width: 9.292vw;
}
.product__title {
  margin-bottom: 0.885vw;
  font-family: var(--font-family-Helvetica);
  font-weight: 400;
  color: var(--main-color);
  font-size: 1.026vw;
  line-height: 1.2;
}
.product__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product__color span {
  display: inline-block;
  font-size: 0.938vw;
  line-height: 1.3;
  margin-bottom: 0.26vw;
}

.price__old {
  font-size: 0.938vw;
  line-height: 1.3;
  color: var(--gray);
  text-decoration: line-through;
  text-align: right;
}
.price__new {
  font-weight: 800;
  font-size: 1.25vw;
  line-height: 1.1;
}

@media (max-width: 1200px) {
  .new-products {
    padding: 13.021vw 0vw;
  }
  .new-products .form__radio:not(:last-child) {
    margin-right: 1.563vw;
  }
  .new-products .form__radio-first:before,
.new-products .form__radio-second:before,
.new-products .form__radio-third:before {
    width: 1.563vw;
    height: 1.563vw;
  }
  .new-products .tabs__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 5.208vw;
  }
  .new-products .tabs__nav-item:not(:last-child) {
    margin-right: 1.063vw;
  }
  .new-products .tabs__nav-btn {
    padding: 1.302vw 3.906vw;
    font-size: 2.604vw;
    line-height: 2.995vw;
  }
  .new-products .tabs__nav-btn span {
    font-size: 2.604vw;
    line-height: 2.995vw;
  }
  .new-products .tabs__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2.604vw;
    grid-row-gap: 2.604vw;
    margin-bottom: 5.208vw;
  }
  .product {
    padding: 2.604vw;
  }
  .product__term {
    font-size: 1.823vw;
    color: var(--gray);
    line-height: 2.865vw;
    margin-bottom: 1.953vw;
  }
  .product__img {
    width: 100%;
    margin: 0 auto 0.598vw;
  }
  .product__img img {
    height: 40.365vw;
    width: 20.964vw;
  }
  .product__title {
    margin-bottom: 0.885vw;
    font-size: 2.344vw;
    line-height: 3.646vw;
  }
  .product__color span {
    font-size: 2.083vw;
    line-height: 2.734vw;
    margin-bottom: 0.911vw;
  }
  .price__old {
    font-size: 1.953vw;
    line-height: 2.865vw;
  }
  .price__new {
    font-weight: 800;
    font-size: 2.604vw;
    line-height: 2.865vw;
  }
}
.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__info {
  width: 42%;
  padding: 10.208vw 3.083vw 12.208vw max(0.781vw, (100% - 61.458vw) / 2);
  background-color: var(--main-black);
  color: var(--light);
}
.services .title {
  font-family: var(--font-family-Helvetica);
  color: var(--light);
  margin-bottom: 1.563vw;
}
.services .subtitle {
  margin-bottom: 1.042vw;
}
.services__descr {
  font-size: 1.146vw;
  line-height: 1.4;
  color: var(--gray);
  margin-bottom: 7.292vw;
}
.services__right {
  background-color: var(--light);
  width: 58%;
  padding: 10.208vw 0 4.208vw 3.042vw;
}
.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.604vw;
}
.services .swiper__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.services .swiper-button-next,
.services .swiper-button-prev {
  position: static;
  width: 3.567vw;
  height: 3.567vw;
  border: 0.052vw solid var(--main-black);
  border-radius: 50%;
  color: var(--main-black);
  -webkit-transform: translateX(4.3vw);
  -ms-transform: translateX(4.3vw);
  transform: translateX(4.3vw);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.services .swiper-button-next:hover,
.services .swiper-button-prev:hover {
  background-color: var(--main-green-dark);
  color: var(--light);
  border: none;
}
.services .swiper-button-next::after,
.services .swiper-button-prev::after {
  font-size: 1.563vw;
}
.services .swiper-button-prev {
  margin-right: 1.563vw;
}

.services-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  width: 20.025vw;
}
.services-slide__img {
  height: 10.5vw;
  margin-bottom: 1.563vw;
}
.services-slide__img img {
  height: 100%;
  width: 100%;
  border-radius: 0.789vw;
}
.services-slide__title {
  font-family: var(--font-family-Helvetica);
  color: var(--main-black);
  margin-bottom: 0.521vw;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.1;
}
.services-slide__body {
  margin-bottom: 1.742vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.services-slide__descr {
  font-weight: 300;
  font-size: 0.833vw;
  line-height: 1.028vw;
  color: var(--gray);
}
.services-slide__link {
  font-weight: 500;
  font-size: 0.833vw;
  line-height: 1.1;
  color: var(--main-green-dark);
}

@media (max-width: 1200px) {
  .services__info {
    width: 100%;
    padding: 33.724vw 3.906vw;
  }
  .services .title {
    margin-bottom: 3.906vw;
  }
  .services .subtitle {
    margin-bottom: 1.302vw;
  }
  .services__descr {
    font-size: 2.083vw;
    line-height: 3.125vw;
    margin-bottom: 13.021vw;
  }
  .services__right {
    padding: 23.438vw 0vw 13.021vw 3.906vw;
  }
  .services__wrapper {
    margin-bottom: 2.604vw;
  }
  .services .swiper__btns {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transform: translateX(-4vw);
    -ms-transform: translateX(-4vw);
    transform: translateX(-4vw);
  }
  .services .swiper-button-next,
.services .swiper-button-prev {
    width: 8.334vw;
    height: 8.334vw;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .services .swiper-button-next::after,
.services .swiper-button-prev::after {
    font-size: 3.563vw;
  }
  .services .swiper-button-prev {
    margin-right: 1.563vw;
  }
  .services-slide {
    width: 20.025vw;
    margin-bottom: 3.906vw;
  }
  .services-slide__img {
    height: 31.25vw;
    margin-bottom: 3.906vw;
  }
  .services-slide__img img {
    height: 100%;
    width: 100%;
  }
  .services-slide__body {
    margin-bottom: 1.953vw;
  }
  .services-slide__title {
    margin-bottom: 1.953vw;
    font-size: 3.125vw;
    line-height: 3.516vw;
  }
  .services-slide__descr {
    font-size: 2.083vw;
    line-height: 3.255vw;
  }
  .services-slide__link {
    font-size: 2.083vw;
    line-height: 2.344vw;
  }
}
.feedback {
  background: url("../img/feedback-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding: 8.594vw 0vw;
  position: relative;
}
.feedback::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(0.221vw);
  backdrop-filter: blur(0.221vw);
}
.feedback__container {
  position: relative;
  max-width: 52.083vw;
  margin: 0 auto;
  border-radius: 1.042vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
.feedback__form {
  background-color: var(--light);
  padding: 2.604vw;
  width: 50%;
}
.feedback .titles {
  margin-bottom: 1.042vw;
}
.feedback .title {
  font-size: 2.548vw;
}
.feedback__image {
  width: 50%;
}
.feedback__image img {
  width: 100%;
  height: 100%;
}

.form__text {
  color: var(--gray);
  margin-bottom: 2.604vw;
  font-size: 1.146vw;
  line-height: 1.4;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.form__label::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 1.342vw;
  height: 1.342vw;
  z-index: 1;
}
.form__label--name::before {
  background: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  top: -0.156vw;
}
.form__label--phone::before {
  background: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.form__input {
  margin-bottom: 1.281vw;
  position: relative;
  width: 100%;
  color: var(--main-black);
  padding: 0 0 0.781vw 2.042vw;
  font-size: 0.833vw;
  outline: none;
  line-height: 1.5;
  border-bottom: 1px solid var(--border-color);
}
.form__input::-webkit-input-placeholder {
  color: var(--gray);
}
.form__input::-moz-placeholder {
  color: var(--gray);
}
.form__input:-ms-input-placeholder {
  color: var(--gray);
}
.form__input::-ms-input-placeholder {
  color: var(--gray);
}
.form__input::placeholder {
  color: var(--gray);
}
.form__notice {
  display: inline-block;
  margin-top: 2.604vw;
  margin-bottom: 1.042vw;
  font-size: 0.729vw;
  color: var(--gray);
  line-height: 1.4;
}
.form__btn {
  width: 100%;
}

@media (max-width: 1200px) {
  .feedback {
    padding: 22.526vw 3.906vw;
  }
  .feedback__container {
    max-width: 100%;
  }
  .feedback__form {
    background-color: var(--light);
    padding: 6.51vw 3.255vw;
    width: 55%;
  }
  .feedback .titles {
    margin-bottom: 3.906vw;
  }
  .feedback .title {
    font-size: 4.948vw;
  }
  .feedback__image {
    width: 45%;
  }
  .feedback .form__text {
    margin-bottom: 7.813vw;
    font-size: 2.083vw;
    line-height: 3.125vw;
  }
  .feedback .form__label::before {
    width: 2.342vw;
    height: 2.342vw;
    top: 0.5vw;
  }
  .feedback .form__input {
    margin-bottom: 1.281vw;
    padding: 0vw 3.953vw 1.953vw;
    font-size: 2.083vw;
    line-height: 3.32vw;
  }
  .feedback .form__notice {
    margin-top: 7.813vw;
    margin-bottom: 2.604vw;
    font-size: 1.563vw;
    line-height: 3.32vw;
  }
}
.footer {
  background-color: var(--main-black);
}
.footer__top {
  padding: 2.604vw 0vw 2.083vw 0vw;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 2.604vw;
}
.footer__logo {
  width: 16.302vw;
  height: 5.885vw;
  -webkit-transform: translateY(0.417vw);
  -ms-transform: translateY(0.417vw);
  transform: translateY(0.417vw);
}
.footer__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__call span {
  font-weight: 700;
  color: var(--light);
  font-size: 1.823vw;
  line-height: 1.2;
  margin-bottom: 0.521vw;
}
.footer__btn {
  width: 100%;
  text-align: center;
  color: var(--main-black);
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer__copyright {
  border-top: 0.052vw solid var(--gray);
  padding: 0.781vw 0vw;
}

.footer-nav {
  margin: 0 auto;
}
.footer-nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5.263vw;
  grid-row-gap: 1.042vw;
}
.footer-nav__item:not(:last-child) {
  margin-right: 0;
}
.footer-nav__link {
  color: var(--gray);
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.1;
}

.social__link {
  width: 1.863vw;
  height: 1.863vw;
  border: 0.052vw solid var(--gray);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__link:not(:last-child) {
  margin-right: 1.363vw;
}
.social__link svg {
  width: 1.081vw;
  height: 1.081vw;
  fill: var(--light);
}
@media (min-width: 1025px) {
  .social__link:hover {
    background-color: var(--main-green-dark);
    border: 0.052vw solid none;
  }
}

.copyright {
  text-align: center;
}
.copyright__title {
  color: var(--gray);
  font-size: 0.729vw;
  line-height: 1.4;
}

@media (max-width: 1200px) {
  .footer {
    background-color: var(--main-black);
  }
  .footer__top {
    padding: 7.813vw 3.906vw 5.208vw;
  }
  .footer__menu {
    margin-bottom: 6.208vw;
  }
  .footer__logo {
    width: 28.776vw;
    height: 10.417vw;
    -webkit-transform: translateY(1.337vw);
    -ms-transform: translateY(1.337vw);
    transform: translateY(1.337vw);
  }
  .footer__call span {
    font-size: 3.255vw;
    line-height: 3.906vw;
    margin-bottom: 1.432vw;
  }
  .footer__copyright {
    padding: 2.083vw 0vw 2.604vw;
    letter-spacing: 0.26vw;
  }
  .footer-nav {
    margin-bottom: 6.208vw;
  }
  .footer-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0;
  }
  .footer-nav__item:not(:last-child) {
    margin-right: 6.51vw;
  }
  .footer-nav__link {
    font-size: 2.344vw;
    line-height: 2.734vw;
  }
  .social__link {
    width: 3.906vw;
    height: 3.906vw;
  }
  .social__link:not(:last-child) {
    margin-right: 2.214vw;
  }
  .social__link svg {
    width: 2.214vw;
    height: 1.953vw;
  }
  .copyright__title {
    font-size: 1.563vw;
    line-height: 3.32vw;
  }
}
/*# sourceMappingURL=main.css.map */