@include mobile {
  .catalog {
    padding: 20.759px 0 30.497px;

    .titles {
      margin-bottom: 15.131px;
    }

    //tabs
    .tabs {
      &__panel {
        padding: 0 0 40.998px;
        width: auto;
      }

      &__nav {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
      }

      &__nav-main {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 0;
        margin-bottom: 4vw;
      }

      &__nav-item {
        width: 100%;
        &:not(:last-child) {
          margin-right: 4vw;
        }
      }

      &__btn {
        width: 100%;
        height: 10.667vw;
        font-size: 5.335vw;
        line-height: 6.134vw;
        border-radius: 16.267vw;
        span {
          font-weight: 400;
          font-size: 4vw;
          margin-left: 2.048vw;
        }
      }

      &__nav-btn-filter {
        width: 100%;
        height: 11.467vw;
        font-size: 5.335vw;
        line-height: 6.134vw;
        border-radius: 16.267vw;

        svg {
          width: 5.468vw;
          height: 5.468vw;
          margin-left: 4.698vw;
        }
      }

      &__items {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 19.999px;
        grid-row-gap: 19.999px;
      }
    }

    //product
    .product {
      border-radius: 4vw;
      padding: 4.035vw 6.867vw 4.159vw;

      &__img {
        img {
          width: 42vw;
          height: 80.202vw;
        }
      }

      &_term {
        font-size: 3.734vw;
        line-height: 5.734vw;
        margin-bottom: 5.867vw;
      }

      &__title {
        font-size: 4.267vw;
        line-height: 6.666vw;
      }

      &__color {
        span {
          font-size: 3.733vw;
          line-height: 5.6vw;
        }
      }

      &__body-color {
        label {
          padding-left: 6.134vw;
        }
      }

      .price__old {
        font-size: 4.467vw;
        line-height: 5.734vw;
      }

      .price__new {
        font-size: 5.333vw;
        line-height: 5.734vw;
      }

      .filter__accordion-body-color .color {
        width: 3.792vw;
        height: 3.792vw;
      }
    }
  }

  //filter
  .filter {
    &__show-menu {
      width: 100%;
    }

    &__show-top {
      svg {
        width: 5.599vw;
        height: 5.599vw;
      }
    }

    &__show-title {
      font-size: 6.4vw;
      line-height: 6.4vw;
    }

    &__show-bottom {
      padding: 29.998px;
      button {
        width: 100%;
        text-align: center;
        border-radius: 16.267vw;
        padding: 4.266vw 18.934vw;
        font-size: 4.266vw;
        line-height: 4.801vw;
        border-radius: 16.267vw;
      }
    }

    &__items {
      padding: 29.998px 22.003px 215.57px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 8.085vw;
      }

      &:first-child {
        margin-bottom: 12.336vw;
      }
    }

    &__title {
      font-size: 4.934vw;
      line-height: 5.433vw;
    }

    &__title-price {
      margin-bottom: 6.666vw;
    }

    &__btn {
      border-radius: 16.267vw;
      padding: 4.266vw 18.934vw;
      font-size: 4.266vw;
      line-height: 4.801vw;
    }
  }

  //filter-price
  .filter-price {
    &__wrapper {
      margin-bottom: 8.135vw;
      &::after {
        display: none;
      }
    }

    &__input {
      width: 100%;
      height: 11.532vw;
      padding: 1.167vw 3.334vw 0.831vw 3.334vw;
      font-size: 4.266vw;
      line-height: 6.832vw;
      border-radius: 13.333vw;
      &:not(:last-child) {
        margin-right: 4vw;
      }
    }
  }

  //range-slider
  .noUi-base {
    width: 95%;
  }

  .noUi-horizontal {
    top: -0.5vw;
    height: 0.801vw;
  }

  .noUi-connects {
    width: 100%;
  }

  .noUi-horizontal .noUi-handle {
    top: -3.202vw;
    width: 0.666vw;
    height: 3.002vw;
  }

  .noUi-horizontal .noUi-handle {
    width: 6.267vw;
    height: 6.267vw;
    right: -5.401vw;
  }

  //filter-accordion
  .filter__accordion {
    &-header {
      margin-bottom: 5.867vw;
    }

    &-icon {
      width: 6.801vw;
      height: 6.801vw;
    }

    &-body-color {
      label {
        margin-bottom: 4.547vw;
      }
    }
  }

  //custom-radio for categories select
  .filter__accordion-body label {
    font-size: 4.267vw;
    padding-left: 9.083vw;
    padding-top: 1.333vw;
  }

  .filter__accordion-body-color label {
    padding-left: 10.083vw;
    margin-bottom: 10vw;
  }

  .filter__accordion-body span,
  .filter__accordion-body-color span {
    height: 6.604vw;
    width: 6.604vw;
  }

  .filter__accordion-body label span:after,
  .filter__accordion-body-color label span:after {
    width: 3.701vw;
    height: 3.701vw;
  }

  .filter__accordion-body label input:checked ~ span,
  .filter__accordion-body-color label input:checked ~ span {
    border: 0.604vw solid var(--main-green-dark);
  }

  //pagination
  .pagination {
    padding-top: 8.001vw;

    &__back,
    &__next {
      font-size: 5.066vw;
      line-height: 6.134vw;
    }

    &__back {
      padding-left: 5.354vw;
      margin-right: 5.366vw;
      &::before {
        top: 1.334vw;
        width: 2.734vw;
        height: 2.734vw;
      }
    }

    &__next {
      padding-right: 5.354vw;
      margin-left: 5.366vw;
      &::after {
        top: 1.334vw;
        width: 2.734vw;
        height: 2.734vw;
      }
    }

    &__list {
      display: none;
    }
  }
}
