@include mobile {
  .door {
    padding: 9.769px 0 34.185px;
    &__inner {
      flex-direction: column;
      margin-bottom: 34.185px;
    }

    &__thumb {
      margin-right: 0;
      margin-bottom: 14.648px;
      flex-direction: column;
    }

    &__swiper {
      width: 227.813px;
      height: 297.851px;
      margin-bottom: 0;
      margin-left: 0;
      border-radius: 9.769px;
    }

    &__swiper-slide {
      width: 100%;
      height: 100%;
      img {
        width: 122.074px;
        height: auto;
        border-radius: 7.327px;
      }
    }

    //mini-swiper
    &__swiper-mini {
      padding-right: 8.192vw;
      margin-bottom: 0;
      margin-right: 0;
      margin-left: 0;
      width: 107.441px;
      height: 297.851px;
    }

    &__swiper-slide-mini {
      border-radius: 7.327px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    //scrollbar
    .swiper-vertical > .swiper-scrollbar {
      width: 1.466px;
    }

    &__term {
      font-size: 7.815px;
      line-height: 12.206px;
      margin-bottom: 6.345px;
    }

    &__title {
      font-size: 11.726px;
      line-height: 11.722px;
      margin-bottom: 9.765px;
    }

    &__descr {
      font-size: 7.815px;
      line-height: 11.719px;
      margin-bottom: 14.651px;
    }

    &__price {
      margin-bottom: 10.666vw;
    }

    &__price-old {
      font-size: 15.626px;
      line-height: 14.655px;
      margin-right: 12.694px;
    }

    &__price-new {
      font-size: 19.53px;
      line-height: 22.463px;
    }

    &__size {
      margin-bottom: 17.576px;
    }

    &__color {
      margin-bottom: 21.971px;

      //custom-radio for categories select
      .door__color-items label {
        padding-left: 19.53px;
      }

      .door__color-items span {
        height: 11.719px;
        width: 11.719px;
      }

      .door__color-items label span:after {
        width: 8.794px;
        height: 8.794px;
      }
    }

    &__color-title {
      font-size: 9.765px;
      line-height: 11.228px;
      margin-bottom: 13.185px;
      span {
        font-size: 8.79px;
        line-height: 16.601px;
        margin-left: 9.769px;
      }
    }

    &__order {
      margin-bottom: 34.178px;
    }
  }

  .size {
    &__title {
      font-size: 9.765px;
      line-height: 11.228px;
      margin-bottom: 9.765px;
    }

    &__nav-item {
      &:not(:last-child) {
        margin-right: 7.32px;
      }
    }

    &__btn {
      width: 55.568px;
      padding: 9.375px 28.125px;
      height: 21px;
      border-radius: 24.412px;
      font-size: 7.811px;
      line-height: 12.45px;
    }
  }

  .order {
    &__count {
      margin-right: 14.403vw;
    }

    &__btn-count {
      width: 29.299px;
      height: 29.299px;
      span {
        font-size: 18.75px;
      }
    }

    &__count-num {
      font-family: var(--font-family-Helvetica);
      font-size: 13.669px;
      font-weight: 400;
      line-height: 15.626px;
      padding: 0px 12.694px;
    }

    &__btn {
      width: 100%;
      height: 29.299px;
      font-weight: 700;
      font-size: 7.811px;
      line-height: 8.794px;
      border: 0.487px solid var(--main-black);
      text-transform: uppercase;

      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        margin-right: 7.32px;
        fill: var(--main-black);
        width: 12.206px;
        height: 12.206px;
        transition: all 0.3s ease-in-out;
      }
      @include for-desktop {
        &:hover {
          background-color: var(--main-black);
          color: var(--light);
          svg {
            fill: var(--light);
          }
        }
      }
    }

    &__descr {
      .filter {
        &__item {
          margin: 0;
          padding-bottom: 12.188px;
          padding-top: 15.938px;
          border-bottom: 0.487px solid var(--border-color);

          &:first-child {
            border-top: 0.487px solid var(--border-color);
          }
        }

        &__accordion-header {
          margin: 0;
          padding-bottom: 9.375px;
        }

        &__title {
          font-size: 9.765px;
          line-height: 11.527px;
        }

        &__accordion-body {
          td {
            padding-bottom: 10.256px;
          }

          p {
            font-size: 7.815px;
            line-height: 11.719px;
          }
        }

        &__door-type {
          font-size: 8.79px;
          line-height: 15.135px;
        }

        &__door-descr {
          font-size: 8.79px;
          line-height: 14.648px;
        }
      }
    }
  }

  //recent-swiper
  .door__recent {
    .recent__swiper {
      overflow: visible;

      &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24.412px;
      }

      //recent-swiper-navigation
      .swiper__btns {
        //justify-content: flex-end;
      }

      .swiper-button-next,
      .swiper-button-prev {
        width: 31.252px;
        height: 31.252px;
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        font-size: 13.361px;
      }

      .swiper-button-prev {
        margin-right: 5.861px;
      }
      .filter__accordion-body-color .color {
        width: 7.5px;
        height: 7.5px;
      }

      .filter__accordion-body-color label {
        padding-left: 15px;
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        font-size: 14.655px;
      }

      .swiper-button-prev {
        margin-right: 14.655px;
      }
    }
  }
}
