.breadcrumbs {
  padding-top: 7.25vw;
  &__list {
    display: flex;
  }

  &__item-main {
    position: relative;
    &:not(:last-child) {
      padding-right: 1.042vw;
      margin-right: 1.042vw;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(30%);
        width: 0.078vw;
        height: 60%;
        background-color: var(--gray);
      }
    }
  }

  &__item-back {
    display: none;
  }

  &__link {
    color: var(--gray);
    font-weight: 400;
    font-size: 0.833vw;
    line-height: 1.302vw;
  }

  &__link--active {
    color: var(--main-black);
  }
}

@include tablet {
  .breadcrumbs {
    padding-top: 13.156vw;

    &__item-main {
      &:not(:last-child) {
        padding-right: 1.954vw;
        margin-right: 1.954vw;
        &::after {
          height: 100%;
          transform: translateY(0);
        }
      }
    }

    &__link {
      font-size: 1.823vw;
      line-height: 2.083vw;
    }
  }
}

@include mobile {
  .breadcrumbs {
    padding-top: 17.156vw;

    &__item-main {
      display: none;
    }

    &__item-back {
      display: flex;
      align-items: center;
      padding-left: 3.333vw;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0.533vw;
        left: 0;
        width: 2.821vw;
        height: 2.821vw;
        border: 0.104vw solid var(--main-black);
        border-right: none;
        border-top: none;
        transform: rotate(45deg);
      }
    }

    &__link-back {
      color: var(--main-black);
      font-size: 3.733vw;
      line-height: 4.35vw;
    }
  }
}
