.discount {
  .titles {
    margin-bottom: 1.563vw;
  }

  background: url("../img/discount.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding: 4.966vw 0vw;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-0.365vw);
  }

  &__img {
    margin-right: 0.802vw;
    flex: 1 0 50%;
  }

  &__content {
    color: var(--light);
  }

  &__subtitle {
    font-weight: 400;
    font-size: 1.146vw;
    line-height: 1.623vw;
    color: var(--main-green-dark);
    margin-bottom: 0.781vw;
  }

  &__title {
    font-family: var(--font-family-Helvetica);
    font-weight: 700;
    font-size: 3.594vw;
    line-height: 4.115vw;
    margin-bottom: 0.794vw;
  }

  &__descr {
    font-weight: 300;
    font-size: 1.046vw;
    line-height: 1.671vw;
    margin-bottom: 2.708vw;
  }

  &__btn {
    padding: 1.042vw 3.904vw;
  }
}

@include tablet {
  .discount {
    background: url("../img/discount.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 10.938vw 3.906vw;
    .container {
      padding: 0;
    }

    .titles {
      margin-bottom: 1.563vw;
    }

    &__inner {
      transform: translateY(-0.365vw);
    }

    &__img {
      margin-right: 2.865vw;
      width: 75.651vw;
      height: 84.635vw;
      margin-right: 0;
      transform: translateX(-6.021vw);
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__subtitle {
      font-size: 2.865vw;
      line-height: 3.906vw;
      margin-bottom: 4.557vw;
    }

    &__title {
      font-size: 6.51vw;
      line-height: 7.552vw;
      margin-bottom: 4.167vw;
    }

    &__descr {
      font-weight: 300;
      font-size: 2.083vw;
      line-height: 3.125vw;
      margin-bottom: 7.552vw;
    }

    &__btn {
      width: 100%;
      padding: 2.906vw 13.021vw;
    }
  }
}
