.discount {
  background-color: var(--main-black);
  padding: 4.966vw 0vw;
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    bottom: -10%;
    left: -5%;
    width: 50vw;
    height: 100%;
    object-fit: contain;
  }

  .titles {
    margin-bottom: 1.563vw;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-0.365vw);
  }

  &__img {
    margin-right: 3.771vw;
    flex: 1 0 50%;
    width: 582px;
    height: 460px;
    border-radius: 1.042vw;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    color: var(--light);
  }

  &__subtitle {
    font-weight: 400;
    font-size: 1.146vw;
    line-height: 1.623vw;
    color: var(--main-green-dark);
    margin-bottom: 0.781vw;
  }

  &__title {
    font-family: var(--font-family-Helvetica);
    font-weight: 700;
    font-size: 3.594vw;
    line-height: 4.115vw;
    margin-bottom: 0.794vw;
  }

  &__descr {
    font-weight: 300;
    font-size: 1.15vw;
    line-height: 1.775vw;
    margin-bottom: 2.708vw;
    color: var(--gray);
  }

  &__btn {
    padding: 1.042vw 3.904vw;
  }
}

@include tablet {
  .discount {
    padding: 10.938vw 3.906vw;

    &__bg {
      width: 100vw;
      left: -25%;
      bottom: -22%;
    }

    .container {
      padding: 0;
    }

    .titles {
      margin-bottom: 1.563vw;
    }

    &__inner {
      transform: translateY(-0.365vw);
    }

    &__img {
      margin-right: 2.865vw;
      width: 75.651vw;
      height: 84.635vw;
      margin-right: 0;
      transform: translateX(-6.021vw);
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__subtitle {
      font-size: 2.865vw;
      line-height: 3.906vw;
      margin-bottom: 4.557vw;
    }

    &__title {
      font-size: 6.51vw;
      line-height: 7.552vw;
      margin-bottom: 4.167vw;
    }

    &__descr {
      font-weight: 300;
      font-size: 2.083vw;
      line-height: 3.125vw;
      margin-bottom: 7.552vw;
    }

    &__btn {
      width: 100%;
      padding: 2.906vw 13.021vw;
    }
  }
}

@include mobile {
  .discount {
    padding: 10.333vw 4vw;

    &__bg {
      width: 100%;
      height: 100%;
      left: 0;
      top: -28%;
      bottom: 0;
    }

    .titles {
      margin-bottom: 5.333vw;
    }

    &__inner {
      transform: translateY(0);
      flex-direction: column;
    }

    &__img {
      margin-right: 0;
      margin-bottom: 13.333vw;
      width: 100%;
      height: 68vw;
      transform: translateX(0);
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__subtitle {
      font-size: 5.333vw;
      line-height: 8vw;
      margin-bottom: 2.667vw;
      white-space: nowrap;
      br {
        display: none;
      }
    }

    &__title {
      font-size: 13.333vw;
      line-height: 15.467vw;
    }

    &__descr {
      font-weight: 300;
      font-size: 3.733vw;
      line-height: 5.333vw;
      margin-bottom: 11.2vw;
    }

    &__btn {
      font-size: 4.267vw;
      line-height: 5.067vw;
      padding: 4.239vw 21.021vw;
    }
  }
}
