.feedback {
  background: url("../img/feedback-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding: 8.594vw 0vw;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.221vw);
  }

  &__container {
    position: relative;
    max-width: 52.083vw;
    margin: 0 auto;
    border-radius: 1.042vw;
    overflow: hidden;
    display: flex;
    z-index: 1;
  }

  &__form {
    background-color: var(--light);
    padding: 2.604vw;
    width: 50%;
  }

  .titles {
    margin-bottom: 1.042vw;
  }

  .title {
    font-size: 2.548vw;
  }

  &__image {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.form {
  &__text {
    color: var(--gray);
    margin-bottom: 2.604vw;
    font-size: 1.146vw;
    line-height: 1.4;
  }

  &__label {
    display: flex;
    align-items: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 1.342vw;
      height: 1.342vw;
      z-index: 1;
    }
  }

  &__label--name {
    &::before {
      background: url("../img/user.svg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;
      top: -0.156vw;
    }
  }

  &__label--phone {
    &::before {
      background: url("../img/phone.svg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;
    }
  }

  &__input {
    margin-bottom: 1.281vw;
    position: relative;
    width: 100%;
    color: var(--main-black);
    padding: 0 0 0.781vw 2.042vw;
    font-size: 0.833vw;
    outline: none;
    line-height: 1.5;
    border-bottom: 0.052vw solid var(--border-color);
    &::placeholder {
      color: var(--gray);
    }
  }

  &__notice {
    display: inline-block;
    margin-top: 1.604vw;
    margin-bottom: 1.042vw;
    font-size: 0.729vw;
    color: var(--gray);
    line-height: 1.4;
  }

  &__btn {
    width: 100%;
  }
}

@include tablet {
  .feedback,
  .graph-modal {
    padding: 22.526vw 3.906vw;

    &__container {
      max-width: 100%;
      border-radius: 2vw;
    }

    &__form {
      background-color: var(--light);
      padding: 6.51vw 3.255vw;
      width: 55%;
    }

    .titles {
      margin-bottom: 3.906vw;
    }

    .title {
      font-size: 4.948vw;
    }

    &__image {
      width: 45%;
    }

    //form
    .form {
      &__text {
        margin-bottom: 7.813vw;
        font-size: 2.083vw;
        line-height: 3.125vw;
      }

      &__label {
        &::before {
          width: 2.342vw;
          height: 2.342vw;
          top: 0.5vw;
        }
      }

      &__input {
        margin-bottom: 1.281vw;
        padding: 0vw 3.953vw 1.953vw;
        font-size: 2.083vw;
        line-height: 3.32vw;
      }

      &__notice {
        margin-top: 7.813vw;
        margin-bottom: 2.604vw;
        font-size: 1.563vw;
        line-height: 3.32vw;
      }
    }
  }
}

@include mobile {
  .feedback,
  .graph-modal {
    padding: 29.867vw 3.106vw;

    &__container {
      max-width: 100%;
      border-radius: 4vw;
    }

    &__form {
      background-color: var(--light);
      padding: 12.11vw 4.055vw;
      width: 100%;
    }

    .titles {
      margin-bottom: 5.333vw;
    }

    .title {
      font-size: 8vw;
      line-height: 10.667vw;
    }

    &__image {
      display: none;
    }

    //form
    .titles {
      margin-bottom: 4.267vw;
      .title {
        font-size: 8vw;
        line-height: 10.667vw;
      }
    }

    .form__text {
      font-size: 3.733vw;
      line-height: 5.333vw;
      margin-bottom: 11.2vw;
    }

    .form__label {
      &::before {
        top: -1vw;
        width: 5.667vw;
        height: 5.667vw;
      }
    }

    .form__input {
      font-size: 3.733vw;
      padding-left: 10.037vw;
      padding-bottom: 4.067vw;
      margin-bottom: 8.266vw;
    }

    .form__notice {
      margin-top: 0;
      margin-bottom: 9vw;
      font-size: 3.2vw;
      line-height: 6.8vw;
    }
    .form__btn {
      padding: 5.335vw 13.393vw;
      font-size: 4.267vw;
      line-height: 4.8vw;
      border-radius: 17.067vw;
    }
  }
}
