.footer {
  background-color: var(--main-black);

  &__top {
    padding: 2.604vw 0vw 2.083vw 0vw;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2.604vw;
  }

  &__logo {
    width: 16.302vw;
    height: 5.885vw;
    transform: translateY(0.417vw);
  }

  &__call {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-weight: 700;
      color: var(--light);
      font-size: 1.823vw;
      line-height: 1.2;
      margin-bottom: 0.521vw;
    }
  }

  &__btn {
    width: 100%;
    text-align: center;
    color: var(--main-black);
  }

  &__social {
    display: flex;
    justify-content: center;
  }

  &__copyright {
    border-top: 0.052vw solid var(--gray);
    padding: 0.781vw 0vw;
  }
}

.footer-nav {
  margin: 0 auto;
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5.263vw;
    grid-row-gap: 1.042vw;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 0;
    }
  }

  &__link {
    color: var(--gray);
    font-weight: 400;
    font-size: 1.042vw;
    line-height: 1.1;
  }
}

.social {
  &__link {
    width: 1.863vw;
    height: 1.863vw;
    border: 0.052vw solid var(--gray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-right: 1.363vw;
    }
    svg {
      width: 1.081vw;
      height: 1.081vw;
      fill: var(--light);
    }

    @include for-desktop {
      &:hover {
        background-color: var(--main-green-dark);
        border: 0.052vw solid none;
      }
    }
  }
}
.copyright {
  text-align: center;
  &__title {
    color: var(--gray);
    font-size: 0.729vw;
    line-height: 1.4;
  }
}

@include tablet {
  .footer {
    &__top {
      padding: 7.813vw 3.906vw 5.208vw;
    }

    &__menu {
      margin-bottom: 6.208vw;
    }

    &__logo {
      width: 28.776vw;
      height: 10.417vw;
      transform: translateY(1.337vw);
    }

    &__call {
      span {
        font-size: 3.255vw;
        line-height: 3.906vw;
        margin-bottom: 1.432vw;
      }
    }

    &__copyright {
      padding: 2.083vw 0vw 2.604vw;
      letter-spacing: 0.26vw;
    }
  }

  .footer-nav {
    margin-bottom: 6.208vw;
    &__list {
      display: flex;
      justify-content: center;
      gap: 0;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 6.51vw;
      }
    }

    &__link {
      font-size: 2.344vw;
      line-height: 2.734vw;
    }
  }

  .social {
    &__link {
      width: 3.906vw;
      height: 3.906vw;
      &:not(:last-child) {
        margin-right: 2.214vw;
      }
      svg {
        width: 2.214vw;
        height: 1.953vw;
      }
    }
  }
  .copyright {
    &__title {
      font-size: 1.563vw;
      line-height: 3.32vw;
    }
  }
}

@include mobile {
  .footer {
    &__top {
      padding: 53.202px 0 40.002px;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }

    &__logo {
      width: 221.598px;
      height: 80.998px;
      transform: translateY(0);
      margin-bottom: 50.998px;
    }

    &__call {
      margin-bottom: 10.667vw;
      span {
        font-size: 6.8vw;
        line-height: 7.8vw;
        margin-bottom: 4.167vw;
      }
    }

    &__btn {
      padding: 4.086vw 13.393vw;
      font-size: 2.767vw;
      line-height: 3.133vw;
      border-radius: 17.067vw;
    }

    &__copyright {
      padding: 5.333vw 0vw;
      letter-spacing: 1.56px;
    }
  }

  .footer-nav {
    margin-bottom: 8.333vw;
    &__list {
      flex-direction: column;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5.033vw;
      }
    }

    &__link {
      font-size: 3.133vw;
      line-height: 3.6vw;
    }
  }

  .social {
    &__link {
      width: 6.667vw;
      height: 6.667vw;
      &:not(:last-child) {
        margin-right: 13.284px;
      }
      svg {
        width: 3.367vw;
        height: 3.367vw;
      }
    }
  }
  .copyright {
    &__title {
      font-size: 2.033vw;
      line-height: 4.3vw;
    }
  }
}
