.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--main-green-dark);
  //padding: 0.721vw 6.908vw;
  padding: 0.721vw 0;
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 7.208vw;
    height: 2.604vw;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__call {
    display: flex;
    flex-direction: column;
    margin-right: 5.083vw;
  }

  &__cart {
    margin-right: 0.763vw;
  }
}

//nav
.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    color: var(--light);
    &:not(:last-child) {
      margin-right: 2.388vw;
    }
  }

  &__link {
    color: inherit;
    font-size: 0.777vw;
    font-weight: 500;
  }
}

//call
.call {
  &__phone {
    color: var(--light);
    font-size: 1.142vw;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.156vw;
  }

  &__text {
    color: #ededed;
    margin: 0;
    font-weight: 400;
    font-size: 0.625vw;
  }
}

//cart
.cart {
  &__link {
    position: relative;
    svg {
      width: 1.094vw;
      height: 1.302vw;
      fill: var(--light);
    }
  }
  &__count {
    position: absolute;
    bottom: 0;
    right: -0.26vw;
    color: var(--light);
    width: 0.881vw;
    height: 0.881vw;
    border-radius: 50%;
    background-color: var(--main-black);
    font-size: 0.521vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
