.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 0vw 5.208vw;
  background-color: var(--main-green-dark);
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.721vw 0;
  }

  &__logo {
    width: 6.146vw;
    height: 2.188vw;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__call {
    display: flex;
    flex-direction: column;
    margin-right: 5.083vw;
  }

  &__cart {
    margin-right: 0.763vw;
  }
}

//nav
.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    color: var(--light);
    &:not(:last-child) {
      margin-right: 2.388vw;
    }
  }

  &__link {
    color: inherit;
    font-size: 0.833vw;
    font-weight: 500;
  }

  &__top {
    display: none;
  }

  &__item-lang,
  &__item-form {
    display: none;
  }
}

//call
.call {
  &__phone {
    display: flex;
    align-items: center;
    color: var(--light);
    margin-bottom: 0.156vw;
    svg {
      display: none;
      width: 1.667vw;
      height: 1.667vw;
      fill: var(--light);
    }
    span {
      font-size: 1.25vw;
      line-height: 1.458vw;
      font-weight: 700;
    }
  }

  &__text {
    color: #ededed;
    margin: 0;
    font-weight: 400;
    font-size: 0.729vw;
    line-height: 0.833vw;
  }
}

//burger
.burger {
  @include burger;
  display: none;
  color: var(--light);
  width: 35px;

  &__line {
    border-radius: 0.333vw;
  }
  &::after {
    border-radius: 0.333vw;
  }
  &::before {
    border-radius: 0.333vw;
  }
}

@include tablet {
  //burger
  .burger {
    display: block;
  }

  //header
  .header {
    padding: 1vw 0;

    &__logo {
      width: 15.365vw;
      height: 5.469vw;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__inner {
      padding: 0vw 2.5vw;
    }

    &__call {
      margin-right: 0;
    }

    &__left {
      display: none;
    }
  }

  //call
  .call {
    &__phone {
      svg {
        display: block;
        width: 3.385vw;
        height: 3.255vw;
      }
      span {
        display: none;
      }
    }

    &__text {
      display: none;
    }
  }
}

@include mobile {
  .header {
    padding: 2.333vw 0vw;

    &__logo {
      width: 22.4vw;
      height: 8vw;
    }
  }

  //call
  .call {
    &__phone {
      svg {
        width: 6.133vw;
        height: 6.133vw;
      }
    }
  }

  //burger
  .burger {
    @include burger;
    color: var(--light);
    width: 8.333vw;
    height: 5.5vw;
  }
}
