.info {
  margin-bottom: 6.25vw;

  //titles
  .titles {
    margin-bottom: 3.125vw;
  }

  //content
  &__wrapper {
    margin-bottom: 3.646vw;
  }

  &__slide {
    overflow: hidden;
    color: var(--light);
    border-radius: 1.042vw;
    height: auto;

    img {
      height: 12.5vw;
      width: 100%;
    }
    &:nth-child(even) {
      background-color: var(--main-black);
    }
    &:nth-child(odd) {
      background-color: var(--main-green-dark);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    padding: 1.771vw 1.302vw 2.802vw;
  }

  &__num {
    position: absolute;
    top: 0.26vw;
    left: 1.094vw;
    font-family: var(----font-family-Helvetica);
    font-weight: 700;
    font-size: 3.646vw;
    line-height: 4.167vw;
  }

  &__title {
    font-family: var(--font-family-HelveticaNeue);
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 1.198vw;
    margin-bottom: 0.573vw;
  }

  &__descr {
    font-weight: 300;
    font-size: 0.833vw;
    line-height: 1.028vw;
  }

  //info-swiper
  .swiper {
    overflow: visible;
  }

  .swiper__btns {
    display: flex;
    justify-content: flex-end;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: static;
    width: 4.167vw;
    height: 4.167vw;
    border: 0.052vw solid var(--main-black);
    border-radius: 50%;
    color: var(--main-black);
    transform: translateY(0.365vw);
    transition: all 0.2s ease-in-out;

    @include for-desktop {
      &:hover {
        background-color: var(--main-green-dark);
        color: var(--light);
        border: none;
      }
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1.563vw;
  }

  .swiper-button-prev {
    margin-right: 1.563vw;
  }
}

@include tablet {
  .info {
    margin-bottom: 13.021vw;

    //titles
    .titles {
      margin-bottom: 7.813vw;
    }

    //content
    &__wrapper {
      margin-bottom: 5.906vw;
    }

    &__slide {
      overflow: hidden;
      border-radius: 2vw;
      img {
        height: 31.25vw;
        width: 100%;
      }
    }

    &__text {
      padding: 4.427vw 4.557vw 9.375vw;
    }

    &__num {
      font-size: 9.115vw;
      line-height: 10.417vw;
    }

    &__title {
      font-size: 3.125vw;
      line-height: 2.995vw;
      margin-bottom: 1.432vw;
    }

    &__descr {
      font-size: 2.083vw;
      line-height: 3.255vw;
    }

    //info-swiper
    .swiper-slide {
      min-height: 69.704vw;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 8.334vw;
      height: 8.334vw;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 3.563vw;
    }

    .swiper-button-prev {
      margin-right: 1.563vw;
    }
  }
}

@include mobile {
  .info {
    margin-bottom: 13.333vw;

    //content
    &__wrapper {
      margin-bottom: 12.333vw;
    }

    &__slide {
      border-radius: 4vw;
      img {
        width: 100%;
        height: 58.667vw;
      }
    }

    &__text {
      padding: 8vw 5.333vw;
    }

    &__num {
      top: 10.333vw;
      left: 5.333vw;
      font-size: 18.667vw;
      line-height: 2.133vw;
    }

    &__title {
      font-size: 6.4vw;
      line-height: 6.133vw;
      margin-bottom: 2.933vw;
    }

    &__descr {
      font-size: 3.733vw;
      line-height: 5.333vw;
    }

    //info-swiper
    .swiper-slide {
      min-height: 69.704vw;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 15.5vw;
      height: 15.5vw;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 6.667vw;
    }

    .swiper-button-prev {
      margin-right: 4.23vw;
    }
  }
}
