.choices {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 1.533vw;
}

.choices__inner {
  min-height: auto;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 0.829vw;
  line-height: 0.938vw;
  width: 100%;
  width: 4.421vw;
}

.choices__item--selectable {
  color: var(--light);
  padding: 0.5vw 0.9vw;
}

.choices__item {
  white-space: no-wrap;
  font-weight: 500;
}

.is-open .choices__inner {
  background-color: var(--light);
  border-radius: 1.833vw;
}

.is-open .choices__item {
  color: var(--main-green);
}

.is-open .choices__list--dropdown {
  background-color: var(--light);
  border-radius: 0.521vw;
  border: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after {
  display: none;
}

.is-selected {
  display: none;
}

.choices__list--single {
  padding: 0;
  width: 100%;
}

.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 0;
}

.choices[data-type*="select-one"]::after {
  border-color: var(--main-green) transparent transparent;
  height: 0px;
  width: 0px;
  border-width: 3.997px;
  right: 20.368px;
  top: 50%;
  margin-top: -1.536px;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  overflow: hidden;
}

.choices[data-type*="select-one"].is-open:after {
  border-color: var(--gray) transparent transparent;
  margin-top: -0.391vw;
  transform: rotate(180deg);
}

@media (min-width: 33.333vw) {
  .choices__list--dropdown .choices__item--selectable,
  .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
  }
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border: none;
  margin-top: -1px;
  border-radius: 0.608vw;
  right: 0;
  margin-top: 0.521vw;
}

@include tablet {
  .choices {
    background-color: var(--main-green-dark);
    width: 7.937vw;
    height: 3.516vw;
  }

  .choices__inner {
    font-size: 2.114vw;
  }

  .choices__item--selectable {
    color: var(--light);
    padding: 0.333vw 0.733vw;
  }

  .is-open .choices__inner {
    background-color: var(--main-green-dark);
    border-radius: 1.833vw;
  }

  .is-open .choices__item {
    color: var(--light);
  }

  .choices__list--single {
    padding: 0;
    width: 100%;
  }

  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    padding: 0.651vw 1.693vw;
    font-size: 2.114vw;
    color: var(--main-green);
  }

  .choices[data-type*="select-one"].is-open:after {
    margin-top: -1vw;
  }

  .choices[data-type*="select-one"]::after {
    right: 1.667vw;
    top: 50%;
  }
}

@include mobile {
  .choices {
    width: 16vw;
    height: 6.933vw;
    border-radius: 4.267vw;
  }

  .choices__inner {
    font-size: 4.267vw;
    line-height: 5.067vw;
    width: 100%;
  }

  .choices__item--selectable {
    padding-left: 2.667vw;
  }

  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    font-size: 4.267vw;
  }

  .choices[data-type*="select-one"]::after {
    right: 2.667vw;
  }

  .choices[data-type*="select-one"].is-open:after {
    margin-top: -2vw;
  }
}
