.choices {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 1.533vw;
  width: 4.6vw;
}

.choices__inner {
  min-height: auto;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0.938vw;
  width: 100%;
}

.choices__item--selectable {
  color: var(--light);
  padding: 0.5vw 0.9vw;
}

.choices__item {
  white-space: no-wrap;
  font-weight: 500;
}

.is-open .choices__inner {
  background-color: var(--light);
  border-radius: 1.833vw;
}

.is-open .choices__item {
  color: var(--main-green);
}

.is-open .choices__list--dropdown {
  background-color: var(--light);
  border-radius: 0.521vw;
  border: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after {
  display: none;
}

.is-selected {
  display: none;
}

.choices__list--single {
  padding: 0;
  width: 100%;
}

.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 0;
}

.choices[data-type*="select-one"]::after {
  border-color: var(--main-green) transparent transparent;
  height: 0;
  width: 0;
  border-width: 0.208vw;
  right: 1.061vw;
  top: 50%;
  margin-top: -0.08vw;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  overflow: hidden;
}

.choices[data-type*="select-one"].is-open:after {
  border-color: var(--gray) transparent transparent;
  margin-top: -0.391vw;
  transform: rotate(180deg);
}

@media (min-width: 33.333vw) {
  .choices__list--dropdown .choices__item--selectable,
  .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
  }
}

.choices[data-type*="select-one"]::after {
  right: 1.667vw;
  top: 50%;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border: none;
  right: 0;
  margin-top: 0.7vw;
}

.choices[data-type*="select-one"]::after {
  right: 1.067vw;
  border-width: 0.4vw;
  top: 0.8vw;
}

.choices[data-type*="select-one"].is-open:after {
  margin-top: -0.5vw;
}

@include tablet {
  .choices {
    background-color: var(--main-green-dark);
    width: 7.937vw;
    height: 3.516vw;
    border-radius: 3vw;
  }

  .choices__inner {
    font-size: 2.114vw;
  }

  .choices__item--selectable {
    color: var(--light);
    padding: 1.1vw;
    cursor: none;
  }

  .is-open .choices__inner {
    background-color: var(--main-green-dark);
    border-radius: 1.833vw;
  }

  .is-open .choices__item {
    color: var(--light);
  }

  .choices__list--single {
    padding: 0;
    width: 100%;
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    margin-top: 1vw;
  }

  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    padding: 0.651vw 0.89vw;
    font-size: 2.114vw;
    color: var(--main-green);
  }

  .choices[data-type*="select-one"].is-open:after {
    margin-top: -1vw;
  }

  .choices[data-type*="select-one"]::after {
    right: 1.667vw;
    border-width: 0.7vw;
    top: 1.5vw;
  }
}

@include mobile {
  .choices {
    background-color: var(--main-green-dark);
    width: 15.798vw;
    height: 7.451vw;
    border-radius: 3.8vw;
  }

  .choices__inner {
    font-size: 3.765vw;
  }

  .choices__item--selectable {
    padding: 1.166vw 2.346vw;
  }

  .is-open .choices__item {
    color: var(--light);
  }

  .choices__list--single {
    padding: 0;
    width: 100%;
  }

  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    padding: 2.083vw 2.448vw;
    font-size: 3.765vw;
  }

  .choices[data-type*="select-one"].is-open:after {
    margin-top: -3.2vw;
  }

  .choices[data-type*="select-one"]::after {
    right: 2.334vw;
    border-width: 2.04vw;
    top: 3.2vw;
  }

  .choices[data-type*="select-one"] {
    cursor: none;
  }
}
