.mob-menu {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: -100%;
  left: -100%;
  z-index: -100;
}

.mob-menu--show {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

@include tablet {
  //mob-menu
  .mob-menu {
    width: 100%;
    height: 100%;
    overflow: auto;

    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(0.37vw);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4;

    &__close {
      padding: 0;
      svg {
        width: 2.839vw;
        height: 2.839vw;
      }
    }

    &__burger {
      color: var(--main-black) !important;
      pointer-events: none;
    }

    &__nav {
      width: 64.453vw;
      height: 100%;
      background-color: var(--light);
      overflow: auto;
      padding-bottom: 2vw;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;
      padding: 7vw 2vw;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 2.1vw);
        border-bottom: 0.261vw solid var(--border-color);
      }
    }

    &__item {
      color: var(--main-black);
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 3.255vw;
      }
    }

    &__logo {
      display: block;
      margin: 0 auto;
      width: 17.958vw;
      height: 5.906vw;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 2.995vw 1.953vw;
      border-bottom: 0.261vw solid var(--border-color);
    }

    &__item-lang,
    &__item-form {
      display: block;
    }

    &__item-lang {
      display: flex;
      align-items: center;
      .mob-menu__link {
        padding-right: 2.5vw;
      }
    }

    &__link {
      color: inherit;
      font-family: var(--font-family-Helvetica);
      font-weight: 700;
      font-size: 3.906vw;
      line-height: 1.4;
    }

    //form
    .feedback__form {
      width: 100%;
      padding: 3vw 2vw;

      .titles {
        margin-bottom: 1.667vw;
      }

      .form__text {
        font-weight: 300;
        font-size: 1.823vw;
        line-height: 1.4;
      }

      .form__label {
        &::before {
          width: 2.604vw;
          height: 2.604vw;
        }
      }

      .form__input {
        font-size: 1.823vw;
        padding-left: 4.304vw;
        margin-bottom: 3.002vw;
      }

      .form__notice {
        margin: 0;
        margin-bottom: 2.051vw;
        font-size: 1.563vw;
        line-height: 1.6;
      }
      .form__btn {
        padding: 0;
        padding: 1.953vw 10.193vw;
        font-size: 2.083vw;
        line-height: 1.1;
      }
    }
  }
}

.menu--active {
  transform: translate(0);
}

@include mobile {
  .mob-menu {
    &__top {
      padding: 2.995vw 1.953vw;
    }

    &__logo {
      width: 22.4vw;
      height: 8vw;
    }

    &__close {
      svg {
        width: 5.6vw;
        height: 5.6vw;
      }
    }

    &__nav {
      width: 100%;
    }

    &__list {
      padding: 10.845vw 2.667vw;
      &::after {
        width: 100%;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6.667vw;
      }
    }

    &__item-btn-close {
      padding: 0;
      svg {
        width: 2.839vw;
        height: 2.839vw;
      }
    }

    &__item-lang {
      .mob-menu__link {
        padding-right: 4.8vw;
      }
    }

    &__link {
      font-size: 6.4vw;
      line-height: 6.133vw;
    }

    //form
    .feedback__form {
      width: 100%;
      padding: 5.333vw 4vw;

      .titles {
        margin-bottom: 4.267vw;
        .title {
          font-size: 8vw;
          line-height: 10.667vw;
        }
      }

      .form__text {
        font-size: 3.733vw;
        line-height: 5.333vw;
        margin-bottom: 8.533vw;
      }

      .form__label {
        &::before {
          top: -1vw;
          width: 5.667vw;
          height: 5.667vw;
        }
      }

      .form__input {
        font-size: 3.733vw;
        padding-left: 10.037vw;
        padding-bottom: 3vw;
        margin-bottom: 6.133vw;
      }

      .form__notice {
        margin-bottom: 4vw;
        font-size: 3.2vw;
        line-height: 6.8vw;
      }
      .form__btn {
        padding: 4.086vw 13.393vw;
        font-size: 4.267vw;
        line-height: 4.8vw;
        border-radius: 17.067vw;
      }
    }
  }
}
