.graph-modal {
  backdrop-filter: blur(0.221vw);
  &__container {
    width: auto;
    border-radius: 1.042vw;
    padding: 0;
    margin: 0 auto;
  }

  &__close {
    background: url("../img/close.svg");
    background-size: cover;
    top: 1.042vw;
    right: 1.042vw;
    z-index: 10;
    outline: none;
  }

  .titles {
    margin-bottom: 1.042vw;
  }
  .title {
    font-size: 2.308vw;
  }
}

@include tablet {
  .graph-modal {
    padding: 12.526vw 3.906vw !important;
    top: 0;
    &::before {
      height: auto;
    }
  }

  .graph-modal__close {
    top: 3.604vw;
    right: 3.604vw;
  }
}
