.services {
  &__inner {
    display: flex;
  }

  &__info {
    width: 42%;
    padding: 10.208vw 3.083vw 12.208vw max(0.781vw, calc((100% - 61.458vw) / 2));

    background-color: var(--main-black);
    color: var(--light);
  }

  .title {
    font-family: var(--font-family-Helvetica);
    color: var(--light);
    margin-bottom: 1.563vw;
  }

  .subtitle {
    margin-bottom: 1.042vw;
  }

  &__descr {
    font-size: 1.146vw;
    line-height: 1.4;
    color: var(--gray);
    margin-bottom: 7.292vw;
  }

  &__right {
    background-color: var(--light);
    width: 58%;
    padding: 10.208vw 0 4.208vw 3.042vw;
  }

  &__wrapper {
    margin-bottom: 2.604vw;
  }

  //btns-swiper
  .swiper__btns {
    display: flex;
    justify-content: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: static;
    width: 3.567vw;
    height: 3.567vw;
    border: 0.052vw solid var(--main-black);
    border-radius: 50%;
    color: var(--main-black);
    transform: translateX(4.3vw);
    transition: all 0.2s ease-in-out;

    @include for-desktop {
      &:hover {
        background-color: var(--main-green-dark);
        color: var(--light);
        border: none;
      }
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1.563vw;
  }

  .swiper-button-prev {
    margin-right: 1.563vw;
  }
}

//services-slide
.services-slide {
  display: flex;
  flex-direction: column;
  width: 20.025vw;
  &__img {
    margin-bottom: 1.563vw;
    img {
      height: 10.5vw;
      width: 100%;
      border-radius: 0.789vw;
    }
  }
  &__title {
    font-family: var(--font-family-Helvetica);
    color: var(--main-black);
    margin-bottom: 0.521vw;
    font-size: 1.25vw;
    font-weight: 700;
    line-height: 1.1;
  }
  &__body {
    margin-bottom: 1.742vw;
  }

  &__descr {
    font-weight: 300;
    font-size: 0.833vw;
    line-height: 1.028vw;
    color: var(--gray);
  }

  &__link {
    font-weight: 500;
    font-size: 0.833vw;
    line-height: 1.1;
    color: var(--main-green-dark);
  }
}

@include tablet {
  .services {
    &__info {
      width: 100%;
      padding: 33.724vw 3vw;
    }

    .title {
      margin-bottom: 3.906vw;
    }

    .subtitle {
      margin-bottom: 1.302vw;
    }

    &__descr {
      font-size: 2.083vw;
      line-height: 3.125vw;
      margin-bottom: 13.021vw;
    }

    &__right {
      padding: 23.438vw 0vw 13.021vw 3.906vw;
    }

    &__wrapper {
      margin-bottom: 2.604vw;
    }

    //btns-swiper
    .swiper__btns {
      justify-content: flex-end;
      transform: translateX(-4vw);
      margin-top: 5vw;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 8.334vw;
      height: 8.334vw;
      transform: translateX(0);
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 3.563vw;
    }

    .swiper-button-prev {
      margin-right: 1.563vw;
    }
  }

  //services-slide
  .services-slide {
    width: 20.025vw;
    margin-bottom: 3.906vw;
    &__img {
      margin-bottom: 3.906vw;
      img {
        height: 31.25vw;
        width: 100%;
        border-radius: 2vw;
      }
    }

    &__body {
      margin-bottom: 1.953vw;
    }

    &__title {
      margin-bottom: 1.953vw;
      font-size: 3.125vw;
      line-height: 3.516vw;
    }

    &__descr {
      font-size: 2.083vw;
      line-height: 3.255vw;
    }

    &__link {
      font-size: 2.083vw;
      line-height: 2.344vw;
    }
  }
}

@include mobile {
  .services {
    &__inner {
      flex-direction: column-reverse;
    }

    &__info {
      width: 100%;
      padding: 8vw 2.5vw 15.2vw;
    }

    .title {
      margin-bottom: 3.906vw;
    }

    .subtitle {
      margin-bottom: 1.302vw;
    }

    &__descr {
      font-size: 3.733vw;
      line-height: 5.333vw;
      margin-bottom: 6.667vw;
    }

    &__btn {
      width: 100%;
      font-size: 4.265vw;
      line-height: 4.531vw;
      padding: 5.335vw 18.453vw;
      border-radius: 17.067vw;
    }

    &__right {
      width: 100%;
      padding: 17.333vw 2vw 7vw;
    }

    &__wrapper {
      margin-bottom: 12.604vw;
    }

    //btns-swiper
    .swiper__btns {
      transform: translateX(0);
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 15.5vw;
      height: 15.5vw;
      border: 0.35vw solid var(--main-black);
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 6.667vw;
    }

    .swiper-button-prev {
      margin-right: 4.23vw;
    }
  }

  //services-slide
  .services-slide {
    width: 100%;
    height: 100%;
    margin-bottom: 5.333vw;
    &__img {
      margin-bottom: 5.333vw;
      img {
        border-radius: 4vw;
        height: 50.667vw;
        width: 100%;
      }
    }

    &__body {
      margin-bottom: 5.333vw;
      flex: 0 0 auto;
    }

    &__title {
      margin-bottom: 2.667vw;
      font-size: 6.4vw;
      line-height: 6.183vw;
    }

    &__descr {
      font-size: 3.733vw;
      line-height: 5.333vw;
    }

    &__link {
      font-size: 3.733vw;
      line-height: 4.267vw;
    }
  }
}
