//action .action { //position: absolute; //top: 100%; //left: 0; //width: 100%;
background-color: var(--orange); display: flex; justify-content: center;
align-items: center; padding: 0.521vw 0vw; transition: all .2s ease-in-out;
&__title { font-size: 0.6vw; font-weight: 400; line-height: 0.729vw; color:
var(--main-black); position: relative; padding: 0vw 1.042vw; &::after { content:
""; position: absolute; top: 0.104vw; left: 0; width: 0.521vw; height: 0.521vw;
border: 0.104vw solid var(--main-black); border-right: none; border-top: none;
transform: rotate(45deg); } &::before { content: ""; position: absolute; top:
0.104vw; right: 0; width: 0.521vw; height: 0.521vw; border: 0.104vw solid
var(--main-black); border-left: none; border-bottom: none; transform:
rotate(45deg); } } &:hover { background-color: var(--light); border-top: 1px
solid #1c1d1b; } }
