<section class="discount">
  <div class="container">
    <div class="titles">
      <h5 class="subtitle">#Скидка</h5>
    </div>
    <div class="discount__inner">
      <div class="discount__img">
        <picture>
          <source srcset="img/discount-img.avif" type="image/avif" />
          <source srcset="img/discount-img.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/discount-img.jpg"
            class="image"
            width="432"
            height="400"
            alt="Discount img"
          />
        </picture>
      </div>
      <div class="discount__content">
        <h5 class="discount__subtitle">
          При покупке <br />
          нескольких дверей
        </h5>
        <h2 class="discount__title">Скидка -10%</h2>
        <p class="discount__descr">
          И нет сомнений, что независимые государства обнародованы. Есть над чем
          задуматься: реплицированные с зарубежных источников, современные
          исследования
        </p>
        <button
          class="btn btn-reset btn-primary discount__btn"
          data-graph-path="modal-feedback"
        >
          Заказать
        </button>
      </div>
    </div>
  </div>
</section>
