<section class="hero">
  <div class="swiper hero__swiper">
    <div class="swiper-wrapper hero__wrapper">
      <div class="swiper-slide hero__slide">
        <picture>
          <source srcset="img/banner1.avif" type="image/avif" />
          <source srcset="img/banner1.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/banner1.jpg"
            class="image"
            alt="Banner"
          />
        </picture>

        <div class="hero__content">
          <div class="swiper-pagination"></div>
          <h1 class="hero__title">
            У нас <br />
            лучшие двери
          </h1>
          <p class="hero__text">
            Значимость этих проблем настолько очевидна, что дальнейшее развитие
            различных форм деятельности требуют от нас анализа существенных
          </p>
          <div class="hero__btns">
            <button class="btn btn-reset btn-primary hero__btn-primary">
              Подробнее
            </button>
            <button class="btn btn-reset btn-secondary hero__btn-secondary">
              Перейти в каталог
            </button>
          </div>
        </div>
      </div>

      <div class="swiper-slide hero__slide hero__slide--second">
        <picture>
          <source srcset="img/banner1.avif" type="image/avif" />
          <source srcset="img/banner1.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/banner1.jpg"
            class="image"
            alt="Banner"
          />
        </picture>

        <div class="hero__content">
          <div class="swiper-pagination"></div>
          <h1 class="hero__title">
            Двери и паркет <br />
            для жизни
          </h1>
          <p class="hero__text">
            Более 40 сортов дерева. <br />
            Экологически чистое производство. <br />
            Откройте новый мир вместе с The DOORS.
          </p>
          <div class="hero__btns">
            <button class="btn btn-reset btn-primary hero__btn-primary">
              Подробнее
            </button>
            <button class="btn btn-reset btn-secondary hero__btn-secondary">
              Перейти в каталог
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-button-next hero__btn-next"></div>
    <div class="swiper-button-prev hero__btn-prev"></div>
  </div>
</section>
