<section class="info">
  <div class="container">
    <div class="titles">
      <h5 class="subtitle">#Нужно знать</h5>
      <h2 class="title">Как выбрать дверь по фотографии?</h2>
    </div>
    <div class="swiper info__swiper">
      <div class="swiper-wrapper info__wrapper">
        <div class="swiper-slide info__slide">
          <span class="info__num">01</span>
          <picture>
            <source srcset="img/info-img1.avif" type="image/avif" />
            <source srcset="img/info-img1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/info-img1.jpg"
              class="image"
              width="406"
              height="240"
              alt="Info slide"
            />
          </picture>
          <div class="info__text">
            <h5 class="info__title">Толщина двери</h5>
            <p class="info__descr">
              Толщина межкомнатной двери такого типа обычно составляет около
              20-30 мм. Стандартные конструкции распашных дверных конструкций
              имеют размеры от 35 до 45 мм. При этом индивидуальные заказы могут
              иметь нестандартные размеры, например, в 38 мм.
            </p>
          </div>
        </div>
        <div class="swiper-slide info__slide">
          <span class="info__num">02</span>
          <picture>
            <source srcset="img/info-img2.avif" type="image/avif" />
            <source srcset="img/info-img2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/info-img2.jpg"
              class="image"
              width="406"
              height="240"
              alt="Info slide"
            />
          </picture>
          <div class="info__text">
            <h5 class="info__title">Узор дерева</h5>
            <p class="info__descr">
              Современная тенденция такова, что натуральные продукты (древесина)
              постепенно заменяются «суррогатами» и далеко не все виды являются
              полезными для человека в целом. Поэтому «Мы за здоровое будущее!»
              и предлагаем только экологически чистые и натуральные виды
              материалов.
            </p>
          </div>
        </div>
        <div class="swiper-slide info__slide">
          <span class="info__num">03</span>
          <picture>
            <source srcset="img/info-img3.avif" type="image/avif" />
            <source srcset="img/info-img3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/info-img3.jpg"
              class="image"
              width="406"
              height="240"
              alt="Info slide"
            />
          </picture>
          <div class="info__text">
            <h5 class="info__title">Соответствие дизайну</h5>
            <p class="info__descr">
              Согласно традиционной интерьерной схеме цвет двери должен
              соответствовать напольному покрытию или мебели.Стильным решением
              может стать контрастный оттенок, который позволит межкомнатной
              двери выделиться на общем фоне. Выбирая яркий цвет, помните — он
              не должен быть одинок.
            </p>
          </div>
        </div>
        <div class="swiper-slide info__slide">
          <span class="info__num">04</span>
          <picture>
            <source srcset="img/info-img4.avif" type="image/avif" />
            <source srcset="img/info-img4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/info-img4.jpg"
              class="image"
              width="400"
              height="240"
              alt="Info slide"
            />
          </picture>
          <div class="info__text">
            <h5 class="info__title">Соответствие типу</h5>
            <p class="info__descr">
              Двери в интерьере квартиры должны органично вписываться в
              обстановку. При этом важно не только визуальное восприятие но и
              функциональное значение. В спальне стоит отказаться от дверей
              ярких расцветок, остановив свой выбор на нейтральных и
              приглушенных тонах.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper__btns container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
