<div class="graph-modal">
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal-feedback"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>

    <div class="graph-modal__content feedback__container">
      <div class="feedback__form">
        <div class="titles">
          <h5 class="subtitle">#Обратнаясвязь</h5>
          <h2 class="title">Обратный звонок</h2>
        </div>
        <p class="form__text">
          Оставьте заявку и наш менеджер перезвонит вам в течение 15 минут
        </p>
        <form action="#" class="form">
          <label class="form__label form__label--name">
            <input
              type="text"
              name="Имя"
              class="input-reset form__input"
              placeholder="Ваше Имя"
            />
          </label>
          <label class="form__label form__label--phone">
            <input
              type="tel"
              name="Телефон"
              class="input-reset form__input"
              placeholder="Ваш телефон"
            />
          </label>

          <span class="form__notice"
            >Нажимая кнопку “Оставить заявку” Вы даете согласие на обработку
            ваших персональных данных</span
          >

          <button class="btn-reset form__btn btn btn-primary">
            Заказать звонок
          </button>
        </form>
      </div>

      <div class="feedback__image">
        <picture>
          <source srcset="img/modal-img.avif" type="image/avif" />
          <source srcset="img/modal-img.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/modal-img.jpg"
            class="image"
            width="550"
            height="640"
            alt="Feedback img"
          />
        </picture>
      </div>
    </div>
  </div>
</div>
