<section class="new-products">
  <div class="container new-products__container">
    <div class="new-products__tabs tabs" data-tabs="catalog">
      <div class="tabs__inner">
        <div class="titles">
          <h5 class="subtitle">#Поступления</h5>
          <h2 class="title">Наши новинки</h2>
        </div>
        <ul class="tabs__nav">
          <li class="tabs__nav-item">
            <button
              class="active-btn tabs__nav-btn tabs__btn btn btn-reset"
              type="button"
            >
              Двери <span>(210)</span>
            </button>
          </li>
          <li class="tabs__nav-item">
            <button
              class="active-btn tabs__nav-btn tabs__btn btn btn-reset"
              type="button"
            >
              Паркет <span>(68)</span>
            </button>
          </li>
        </ul>
      </div>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="tabs__items">
            <a href="#" class="tabs__item product">
              <span class="product__term">#624553</span>
              <div class="product__img">
                <picture>
                  <source srcset="img/product1.avif" type="image/avif" />
                  <source srcset="img/product1.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/product1.png"
                    class="image"
                    width="190"
                    height="367"
                    alt="Product"
                  />
                </picture>
              </div>
              <h3 class="product__title">Dark Side LB - 182 Steel quartet</h3>
              <div class="product__bottom">
                <div class="product__color">
                  <span>Maple</span>
                  <div class="filter__accordion-body-color">
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-1"></span>
                    </label>
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-2"></span>
                    </label>
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-3"></span>
                    </label>
                  </div>
                </div>
                <div class="product__price price">
                  <div class="price__old">$ <span>215</span></div>
                  <div class="price__new">
                    $
                    <span>167.00</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="#" class="tabs__item product">
              <span class="product__term">#624553</span>
              <div class="product__img">
                <picture>
                  <source srcset="img/product2.avif" type="image/avif" />
                  <source srcset="img/product2.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/product2.png"
                    class="image"
                    width="190"
                    height="367"
                    alt="Product"
                  />
                </picture>
              </div>
              <h3 class="product__title">Dark Side LB - 182 Steel quartet</h3>
              <div class="product__bottom">
                <div class="product__color">
                  <span>Maple</span>
                  <div class="filter__accordion-body-color">
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-1"></span>
                    </label>
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-2"></span>
                    </label>
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-3"></span>
                    </label>
                  </div>
                </div>
                <div class="product__price price">
                  <div class="price__old">$ <span>215</span></div>
                  <div class="price__new">
                    $
                    <span>431.00</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="#" class="tabs__item product">
              <span class="product__term">#624553</span>
              <div class="product__img">
                <picture>
                  <source srcset="img/product3.avif" type="image/avif" />
                  <source srcset="img/product3.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/product3.png"
                    class="image"
                    width="190"
                    height="367"
                    alt="Product"
                  />
                </picture>
              </div>
              <h3 class="product__title">Dark Side LB - 182 Steel quartet</h3>
              <div class="product__bottom">
                <div class="product__color">
                  <span>Maple</span>
                  <div class="filter__accordion-body-color">
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-1"></span>
                    </label>
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-2"></span>
                    </label>
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-3"></span>
                    </label>
                  </div>
                </div>
                <div class="product__price price">
                  <div class="price__old">$ <span>215</span></div>
                  <div class="price__new">
                    $
                    <span>266.00</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="#" class="tabs__item product">
              <span class="product__term">#624553</span>
              <div class="product__img">
                <picture>
                  <source srcset="img/product4.avif" type="image/avif" />
                  <source srcset="img/product4.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/product4.png"
                    class="image"
                    width="190"
                    height="367"
                    alt="Product"
                  />
                </picture>
              </div>
              <h3 class="product__title">Dark Side LB - 182 Steel quartet</h3>
              <div class="product__bottom">
                <div class="product__color">
                  <span>Maple</span>
                  <div class="filter__accordion-body-color">
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-1"></span>
                    </label>
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-2"></span>
                    </label>
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-3"></span>
                    </label>
                  </div>
                </div>
                <div class="product__price price">
                  <div class="price__old">$ <span>215</span></div>
                  <div class="price__new">
                    $
                    <span>196.00</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="#" class="tabs__item product">
              <span class="product__term">#624553</span>
              <div class="product__img">
                <picture>
                  <source srcset="img/product5.avif" type="image/avif" />
                  <source srcset="img/product5.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/product5.png"
                    class="image"
                    width="190"
                    height="367"
                    alt="Product"
                  />
                </picture>
              </div>
              <h3 class="product__title">Dark Side LB - 182 Steel quartet</h3>
              <div class="product__bottom">
                <div class="product__color">
                  <span>Maple</span>
                  <div class="filter__accordion-body-color">
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-1"></span>
                    </label>
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-2"></span>
                    </label>
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-3"></span>
                    </label>
                  </div>
                </div>
                <div class="product__price price">
                  <div class="price__old">$ <span>215</span></div>
                  <div class="price__new">
                    $
                    <span>566.00</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="#" class="tabs__item product">
              <span class="product__term">#624553</span>
              <div class="product__img">
                <picture>
                  <source srcset="img/product6.avif" type="image/avif" />
                  <source srcset="img/product6.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/product6.png"
                    class="image"
                    width="190"
                    height="367"
                    alt="Product"
                  />
                </picture>
              </div>
              <h3 class="product__title">Dark Side LB - 182 Steel quartet</h3>
              <div class="product__bottom">
                <div class="product__color">
                  <span>Maple</span>
                  <div class="filter__accordion-body-color">
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-1"></span>
                    </label>
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-2"></span>
                    </label>
                    <label>
                      <input type="radio" name="type" />
                      <span class="color color-3"></span>
                    </label>
                  </div>
                </div>
                <div class="product__price price">
                  <div class="price__old">$ <span>215</span></div>
                  <div class="price__new">
                    $
                    <span>9 167.00</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="tabs__panel">
          <div class="tabs__items">Паркет</div>
        </div>
      </div>
    </div>

    <div class="new-products__btn">
      <a
        href="catalog.html"
        class="btn btn-reset btn-secondary new-products__link"
      >
        Перейти в каталог
      </a>
    </div>
  </div>
</section>
