<section class="services">
  <div class="services__inner">
    <div class="services__info">
      <div class="services__body">
        <div class="titles">
          <h5 class="subtitle">#Сервис</h5>
          <h2 class="title">Наши услуги</h2>
        </div>
        <p class="services__descr">
          Есть множество тонкостей, которые следует учитывать при установке
          дверей. Наш мастер по замеру на объекте заказчика определяет все
          технические особенности
        </p>
        <button class="btn btn-reset btn-primary services__btn">
          Заказать
        </button>
      </div>
    </div>

    <div class="services__right">
      <div class="swiper services__swiper">
        <div class="swiper-wrapper services__wrapper">
          <div class="swiper-slide services-slide">
            <div class="services-slide__img">
              <picture>
                <source srcset="img/services1.avif" type="image/avif" />
                <source srcset="img/services1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/services1.jpg"
                  class="image"
                  width="406"
                  height="240"
                  alt="Info slide"
                />
              </picture>
            </div>
            <div class="services-slide__body">
              <h5 class="services-slide__title">Замер</h5>
              <p class="services-slide__descr">
                Вы определились с цветом межкомнатной двери и типом конструкции,
                но не знаете какой размер вам подойдёт? Размеры межкомнатных
                дверей считаются стандартными и как верно замерить дверной
                проём, чтобы потом не было мучительно больно за потраченное
                время.
              </p>
            </div>
            <a href="#" class="services-slide__link">Подробнее</a>
          </div>

          <div class="swiper-slide services-slide">
            <div class="services-slide__img">
              <picture>
                <source srcset="img/services2.avif" type="image/avif" />
                <source srcset="img/services2.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/services2.jpg"
                  class="image"
                  width="406"
                  height="240"
                  alt="Info slide"
                />
              </picture>
            </div>
            <div class="services-slide__body">
              <h5 class="services-slide__title">Доставка</h5>
              <p class="services-slide__descr">
                Воспользовавшись любым способом, Вы можете быть уверены: товар
                будет доставлен в целостности, сохранности и точно в оговоренные
                сроки.
              </p>
            </div>
            <a href="#" class="services-slide__link">Подробнее</a>
          </div>

          <div class="swiper-slide services-slide">
            <div class="services-slide__img">
              <picture>
                <source srcset="img/services3.avif" type="image/avif" />
                <source srcset="img/services3.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/services3.jpg"
                  class="image"
                  width="406"
                  height="240"
                  alt="Info slide"
                />
              </picture>
            </div>
            <div class="services-slide__body">
              <h5 class="services-slide__title">Замер</h5>
              <p class="services-slide__descr">
                Заказывать установку межкомнатных дверей лучше и удобнее всего
                на сайте The Dors. Вниманию пользователей представлены
                профессиональные мастера, осуществляющие монтаж, демонтаж и
                ремонт раздвижных, металлических, а также любых других
                конструкций.
              </p>
            </div>
            <a href="#" class="services-slide__link">Подробнее</a>
          </div>
        </div>
        <div class="swiper__btns">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</section>
