// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family-Helvetica: "Helvetica";
  --font-family-HelveticaNeue: "HelveticaNeue";
  --font-family-Roboto: "Roboto";

  // colors
  --main-black: #1c1d1b;
  --light: #ffffff;
  --main-green: #d5bb5e;
  --gray: #8c8c8c;
  --bg-gray: #f7f7f7;
  --orange: #f7cf50;
  --main-green-dark: #728161;
  --border-color: #efe3e3;
}
